.about-us-section {
    padding-bottom: 180px;
    &--content {
        max-width: 505px;
        @include for-max-768 {
            margin-left: 0;
        }
        p,
        h6 {
            opacity: .97;
            margin-bottom: 32px
        }
        h6 {
            font-size: 20px;
            line-height: 36px;
        }
        p {
            line-height: 28px;
        }
    }
}
