// *** bangla***
.bn {
    .cart-section {
        &--item-details {
            &--table {
                @include for-max-768 {
                    width: 600px;
                }
            }
            &::after {
                @include for-max-768 {
                    width: 640px;
                }
            }
        }
    }
}
// *** bangla***

.cart-section {
    padding-top: 100px;
    padding-bottom: 180px;
    @include for-max-992 {
        padding-top: 50px;
        padding-bottom: 200px;
    }
    &--item-details {
        padding: 0 20px;
        border: 1px solid $secondery;
        position: relative;
        overflow: auto;
        &::after {
            content: "";
            height: 54px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: $secondery;
            @include for-max-1199 {
                height: 70px;
            }
            @include for-max-992 {
                height: 54px;
            }
            @include for-max-768 {
                width: 590px;
                height: 55px;
            }
        }
        &--table {
            border-collapse: separate;
            border-spacing: 0px 20px;
            margin-top: -20px;
            margin-bottom: 0;
            @include for-max-768 {
                width: 550px;
                margin-top: -15px;
            }
            tr {
                td {
                    vertical-align: middle;
                    font-size: 16px;
                    &:not(:first-of-type) {
                        text-align: center;
                    }
                    @include for-max-575 {
                        font-size: 16px;
                    }
                    &:last-of-type {
                        text-align: left;
                    }
                }
            }
            tbody {
                tr {
                    background: $game-details;
                    color: $text-light;
                }
            }
            thead {
                td {
                    @include gil-bold;
                }
            }
            .item-del {
                background: $del-bg;
                box-shadow: $del-shadow;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include for-max-1199 {
                    margin-left: 15px;
                }
                cursor: pointer;
                .icon {
                    color: $text-light;
                }
            }
        }
    }
    &--item-price-box {
        border: 1px solid $secondery;
        border-bottom: 0;
        background: $game-details;
        div {
            padding: 15px 20px;
            border-bottom: 1px solid $secondery;
            font-size: 20px;
            @include for-max-575 {
                font-size: 16px;
            }
            p {
                margin: 0;
            }
        }
        &--heading {
            color: $secondery;
        }
        &--payment-method {
            background: $game-details;
            p {
                padding: 20px;
            }
            .content {
                border-top: 1px solid $secondery;
                padding: 20px;
                padding-left: 51px;
            }
            &--content {
                    .checkbox-parents {
                        @include for-max-380 {
                            width: 100%;
                        }
                    }
                
            }
        }
    }
    .promotional-code {
        &--input-group {
            padding: 0;
            border: none;
            input {
                height: 48px;
                border: 1px solid $secondery;
                border-radius: 0;
                background: transparent;
                color: $text-light;
            }
        }
    }
    .total {
        background: $total;
    }
    .error-message {
        &::after {
            top: 1px;
        }
    }
}

.cart-heading {
    text-align: center;
    margin-bottom: 60px;
    h2 {
        font-size: 40px;
        color: $secondery;
        font-style: italic;
        @include for-max-575 {
            font-size: 24px;
        }
    }
}

.cart-heading-empty {
    height: 200px;
    border: 1px solid $secondery;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    @include for-min-992 {
        width: 60%;
        margin: auto;
        margin-top: 2rem;
    }
    h2 {
        font-size: 40px;
        color: $secondery;
        font-style: italic;
        @include for-max-575 {
            font-size: 24px;
        }
    }
}

.checkout-btn {
    margin-top: 50px;
    button {
        font-size: 16px;
        padding: 0;
        height: 48px;
    }
}

// cart deleivery address
.cart-delivery-address {
    margin-top: 44px;
    label {
        display: block;
        margin-bottom: 16px;
    }
    textarea {
        width: 100%;
        border: 1px solid $secondery;
        background: $game-details;
        padding: 16px;
        opacity: .5;
        min-height: 80px;
        color: $text-light;
        &:focus {
            border-radius: 0 !important;
            border-color: $secondery;
            outline: none;
        }
    }
}

// multiple user rent warning modal
.multiple-user-warning-modal {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: 9999;
    .modal-wrapper {
        height: 100%;
    }
    button {
        span {
            margin-top: -1px;
            width: 20px;
            height: 25px;
            margin-left: -1px;
            &::before {
                transform: rotate( -45deg) translate(-6px, 6px) !important;
            }
            &::after {
                transform: rotate( 45deg) translate(6px, 6px) !important;
            }
        }
    }
}
