.btn {
    &:focus {
        outline: none;
    }
    &--secondery {
        width: 196px;
        height: 50px;
        background: $secondery;
        // clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in;
        transform: skew(-19deg);
        color: #000;
        @include gil-medium;
        &:hover {
            background: $game-details;
            color: #fff;
            border: 1px solid $secondery;
        }
        @include for-max-992 {
            width: 160px;
            height: 40px;
        }
        @include for-max-575 {
            transform: skew(-16deg);
        }
        > span {
            transform: skew(19deg);
            @include for-max-575 {
                transform: skew(16deg);
            }
            // &.loader-skew {
            //   transform: skew(21deg);
            // @include for-max-575 {
            //   transform: skew(-16deg);
            // }
            // }
        }
        &:focus {
            outline: none;
        }
    }
    &--login {
        background: transparent;
        border: 1px solid $secondery;
        border-radius: 0;
        color: $secondery;
        height: 50px;
        &:hover {
            color: #000;
            background: $secondery;
        }
    }
    &--registration {
        background: $secondery;
        border: 1px solid $secondery;
        border-radius: 0;
        color: $text-dark;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 16px;
        transition: all .3s ease-in;
        padding: 0 30px;
        span {
            text-align: center;
            margin: auto;
        }
        &:hover {
            color: $text-light;
            background: $game-details;
            border-color: $game-details;
        }
    }
    &--otp {
        background: transparent;
        border: 1px solid $secondery;
        border-radius: 0;
        height: 50px;
        color: $secondery;
        transition: all .3s ease-in;
        &:hover {
            background: $secondery;
        }
    }
    &--cart-btn {
        background: $secondery;
        color: $text-dark;
        padding: 10px 30px;
        text-align: center;
        border: none;
        font-size: 16px;
        transition: all .3s ease-in;
        border: 1px solid $secondery;
        &:focus {
            outline: none;
        }
        &:hover {
            background: $game-details;
            color: $text-light;
        }
        &:active {
            border: 1px solid $game-rating;
        }
    }
    &--filter {
        width: 100%;
        background: transparent;
        border: 1px solid $secondery;
        height: 50px;
        margin-bottom: 20px;
        span {
            color: $text-light;
            font-size: 20px;
        }
        &:focus {
            outline: none;
        }
        @include for-min-768 {
            display: none;
        }
    }
    &--collision {
        color: $secondery;
        overflow: hidden;
        z-index: 2;
        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            background: $secondery-gradient;
            top: 50%;
            border-radius: 50%;
            z-index: -1;
        }
        &::before {
            transform: translate(-50%, -50%);
            left: -20px;
          }
        &::after {
        transform: translate(50%, -50%);
        right: -20px;
        }
          &:hover {
              color: $primary;
            &::before {
                animation: move-left .6s both;
                animation-direction: alternate;
              }
              &::after {
                animation: move-right .6s both;
                animation-direction: alternate;
            }
          }
    }
    &--secondery-hover {
        border-radius: 45px;
        padding: 10px 25px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        background: $secondery-gradient;
        border: 1px solid $secondery !important;
        z-index: 1;
        overflow: hidden;
        @include for-min-575 {
            min-width: 140px;
            text-align: center;
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 45px;
            background-color: #eaf818;
            background-image: linear-gradient(315deg, $primary 0%, $primary 74%);
            transition: all 0.3s ease;
        }
        &:hover {
            color: $text-light;
	        &::after {
                top: auto;
                bottom: 0;
                height: 100%;
            }
            .position-relative {
                color: $secondery;
            }
        }
        &:active {
            top: 2px;
        }
        .position-relative {
            transition: all .3s ease;
        }
    }
}


.bn {
    .btn {
        &--secondery {
            @include for-max-991 {
                width: 190px;
            }
        }
    }
}

// Animation
@keyframes move-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      height: 400px;
      width: 400px;
    }
  }
  
  @keyframes move-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      height: 400px;
      width: 400px;
    }
  }
  