.btn {
    &:focus {
        outline: none;
    }
    &--secondery {
        width: 196px;
        height: 50px;
        background: $secondery;
        // clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in;
        transform: skew(-19deg);
        color: #000;
        @include gil-medium;
        &:hover {
            background: $game-details;
            color: #fff;
            border: 1px solid $secondery;
        }
        @include for-max-992 {
            width: 160px;
            height: 40px;
        }
        @include for-max-575 {
            transform: skew(-16deg);
        }
        > span {
            transform: skew(19deg);
            @include for-max-575 {
                transform: skew(16deg);
            }
            // &.loader-skew {
            //   transform: skew(21deg);
            // @include for-max-575 {
            //   transform: skew(-16deg);
            // }
            // }
        }
        &:focus {
            outline: none;
        }
    }
    &--login {
        background: transparent;
        border: 1px solid $secondery;
        border-radius: 0;
        color: $secondery;
        height: 50px;
        &:hover {
            color: #000;
            background: $secondery;
        }
    }
    &--registration {
        background: $secondery;
        border: 1px solid $secondery;
        border-radius: 0;
        color: $text-dark;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 16px;
        transition: all .3s ease-in;
        padding: 0 30px;
        span {
            text-align: center;
            margin: auto;
        }
        &:hover {
            color: $text-light;
            background: $game-details;
            border-color: $game-details;
        }
    }
    &--otp {
        background: transparent;
        border: 1px solid $secondery;
        border-radius: 0;
        height: 50px;
        color: $secondery;
        transition: all .3s ease-in;
        &:hover {
            background: $secondery;
        }
    }
    &--cart-btn {
        background: $secondery;
        color: $text-dark;
        padding: 10px 30px;
        text-align: center;
        border: none;
        font-size: 16px;
        transition: all .3s ease-in;
        border: 1px solid $secondery;
        &:focus {
            outline: none;
        }
        &:hover {
            background: $game-details;
            color: $text-light;
        }
        &:active {
            border: 1px solid $game-rating;
        }
    }
    &--filter {
        width: 100%;
        background: transparent;
        border: 1px solid $secondery;
        height: 50px;
        margin-bottom: 20px;
        span {
            color: $text-light;
            font-size: 20px;
        }
        &:focus {
            outline: none;
        }
        @include for-min-768 {
            display: none;
        }
    }
    &--collision {
        color: #fff;
        overflow: hidden;
        z-index: 2;
        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            background: $secondery-gradient;
            top: 50%;
            border-radius: 50%;
            z-index: -1;
        }
        &::before {
            transform: translate(-50%, -50%);
            left: -20px;
          }
        &::after {
        transform: translate(50%, -50%);
        right: -20px;
        }
          &:hover {
              color: $primary;
            &::before {
                animation: move-left .6s both;
                animation-direction: alternate;
              }
              &::after {
                animation: move-right .6s both;
                animation-direction: alternate;
            }
          }
    }
    &--secondery-hover {
        text-transform: uppercase!important;
        padding-top: 12px;
        padding-bottom: 12px;
        letter-spacing: 2px;
        border-radius:0px;
        overflow: hidden!important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background: transparent!important;
        border-radius: 4px;
        &:hover {
	        color: $text-light !important;
            &::before,
            &:before {
                opacity: 1;
                -webkit-transform: translateX(100%);
                -moz-transform: translateX(100%);
                -ms-transform: translateX(100%);
                transform: translateX(100%);
            }
            &::after,
            &::after {
                opacity: 1;
                opacity: 1;
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                transform: translateX(-100%);
            }
            span {
                &:first-of-type {
                    &::before {
                        transition-delay: 1.2s;
                    }
                    &::after {
                        transition-delay: .8s;
                    }
                    &::after,
                    &::before {
                        width: 100%;
                        background: $secondery;
                    }
                }
                &:last-of-type {
                    &::before {
                        transition-delay: 1.4s;
                    }
                    &::after {
                        transition-delay: 1s;
                    }
                    &::after,
                    &::before {
                        height: 100%;
                        background: $secondery;
                    }
                }
            }
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background: $secondery-gradient;
            position: absolute;
            border-radius: 4px;
            left: 0%;
            opacity: 1;
            top: 0;
            z-index: -12;
            -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
               -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
                 -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
                    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background: $pink;
            position: absolute;
            left: 0%;
            opacity: 1;
            top: 0;
            z-index: -15;
            border-radius: 4px;
            -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
               -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
                 -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
                    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &::after,
            &::before {
                content: '';
                position: absolute;
            }
            &:first-of-type {
                &::after,
                &::before {
                    width: 0;
                    height: 2px;
                    position: absolute;
                    transition: all 0.4s linear;
                    background: $secondery;
                }
                &::before {
                    right: 0;
                    top: 0;
                    transition-delay: 0.4s;
                }
                &::after {
                    left: 0;
                    bottom: 0;
                    transition-delay: 0s;
                }
            }
            &:last-of-type {
                &::after,
                &::before {
                    content: "";
                    width: 2px;
                    height: 0;
                    position: absolute;
                    transition: all 0.4s linear;
                    background: $secondery;
                }
                &::before {
                    -webkit-transition-delay: 0s;
                    transition-delay: 0s;
                    left: 0;
                    top: 0;
                }
                &::after {
                    -webkit-transition-delay: 0.6s;
                    transition-delay: 0.6s;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}
// .btn--secondery-hover:hover::before, .btn11:hover::before{
// 	opacity:1;
//   	-webkit-transform: translateX(100%);
// 	     -moz-transform: translateX(100%);
// 	      -ms-transform: translateX(100%);
// 	          transform: translateX(100%);
// }
// .btn--secondery-hover:hover::after, .btn11:hover::after{
// 	opacity:1;
//     -webkit-transform: translateX(-100%);
// 	     -moz-transform: translateX(-100%);
// 	      -ms-transform: translateX(-100%);
// 	          transform: translateX(-100%);
// }

.bn {
    .btn {
        &--secondery {
            @include for-max-991 {
                width: 190px;
            }
        }
    }
}

// Animation
@keyframes move-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      height: 400px;
      width: 400px;
    }
  }
  
  @keyframes move-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      height: 400px;
      width: 400px;
    }
  }
  