.contact-section {
    padding-top: 80px;
    padding-bottom: 180px;
    @include for-max-991 {
        padding-top: 50px;
    }
    @include for-max-575 {
        padding-bottom: 200px;
    }
    .error-message {
        display: inline-block;
        margin-top: 10px;
        &::after {
            top: 2px;
        }
    }
}

.contact-form {
    h2 {
        font-style: italic;
        font-size: 22px;
        margin-bottom: 25px;
        @include for-min-992 {
            font-size: 40px;
            margin-bottom: 30px;
        }
    }
    input,
    textarea {
        border: 1px solid $secondery;
        background: $game-details;
        color: #fff;
    }
    .submit-btn {
        border: none;
        margin: auto;
        margin-top: 35px;
        &:focus {
            outline: none;
            border: none;
        }
    }
}

.copyright-section {
    background: $game-details;
    .footer-bottom {
        margin-top: 0;
        &--social {
            margin-right: 0;
            @include for-max-575 {
                position: initial;
                top: initial;
                margin: auto;
                margin-top: 24px;
            }
        }
        p {
            margin-bottom: 0;
        }
        @include for-max-575 {
            flex-direction: initial;
        }
    }
}
