.contact-section {
    padding-top: 80px; 
    padding-bottom: 150px;
}
.contact-form {
    h2 {
        font-style: italic;
        font-size: 22px;
        @include for-min-992 {
            font-size: 40px;
            margin-bottom: 30px;
        }
    }
    input,
    textarea {
        border: 1px solid $secondery;
        background: $game-details;
        color: #fff;
    }
    .submit-btn {
        border: none;
        margin: auto;
        margin-top: 35px;
        &:focus {
            outline: none;
            border: none;
        }
    }
}

.copyright-section {
    background: $game-details;
    // padding: 20px 0;
    .footer-bottom {
        margin-top: 0;
        &--social {
            margin-right: 0;
        }
        p {
            margin-bottom: 0;
        }
        @include for-max-575 {
            flex-direction: initial;
        }
        &--social {
            @include for-max-575 {
                position: initial;
                top: initial;
            }
        }
    }
}