.exchange-lend-section {
    padding-top: 150px;
    padding-bottom: 150px;
    @include for-max-992 {
        padding-top: 70px;
        padding-bottom: 0px;
    }
    &--exchange {
        background: url(../img/exchange.png);
        @include for-max-575 {
            background: url(../img/exchangembl.png);
        }
    }
    &--lend {
        background: url(../img/lend.png);
        @include for-max-575 {
            background: url(../img/lendmbl.png);
        }
    }
    &--exchange,
    &--lend {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 55px;
        padding-right: 55px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 300px;
        @include for-max-992 {
            background-size: 100% 200px;
        }
        @include for-max-575 {
            background-size: 100% 250px;
            padding-top: 60px;
        }
        h3 {
            font-style: italic;
            text-transform: uppercase;
            @include roboto-con;
            span {
                color: $secondery;
            }
            @include for-max-1400 {
                font-size: 44px;
            }
            @include for-max-1199 {
                font-size: 26px;
            }
            @include for-max-992 {
                font-size: 22px;
            }
        }
    }
}

.exchange-lend-section--exchange-btn {
    margin: auto;
    margin-top: 30px;
    text-transform: uppercase;
}
