

.favorite-section {
    padding-bottom: 150px;
    @include for-max-992 {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 70px;
    }
    @include for-max-575 {
        padding-left: 15px;
        padding-right: 15px;
       
    }

    .owl-item {
        &.center {
            @include for-max-575 {
                height: 200px;
                
            }

            .item {
               
                @include for-max-575 {
                    height: 100%;
                    margin-top: 0;
                   
                }

                .favorite-games {
                    @include for-max-575 {
                        height: 100%;
                    }
                  img {
                       
                    @include for-max-575 {
                        height: 180px;
                    }
                  }
                }
            }
            
        }
    }
    .active {
            //  margin: auto;
            // width: 170px !important;
        .item {
            margin: 0 5px;
            // width: 170px;
            @include for-max-575 {
                margin: 0;
                margin-top: 16px;
            }
        }
    }
    .item {
        margin: 0 25px;
        @include for-max-575 {
            margin: 0;
            margin-top: 16px;
        }
    }
    .owl-nav {
        position: relative;
        &.disabled {
            display: block !important;
            @include for-max-575 {
                display: none !important;
            }
        }
        button {
            position: absolute;
            top: -182px;
            width: 50px;
            height: 50px;
            transform: skewX(-13deg);
            border: 1px solid $secondery !important;
            border-radius: 0 !important;
            transition: all .3s ease-in !important;
            @include for-max-1300 {
                top: -170px;
            }
            @include for-max-590 {
                top: 0;
                width: 35px;
                 height: 35px;
            }
            &:hover {
                background: $secondery !important;
                i {
                    color: black;
                }
            }
            i {
                transition: all .3s ease-in;
            }
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
        .owl-prev {
            left: 20px;
            @include for-max-590 {
                left: 35%;
            }
        }
        .owl-next {
            right: 20px;
            @include for-max-590 {
                right: 35%;
            }
        }
    }
}
.favorite-games {
    background: $game-details;
    padding: 10px;
    position: relative;
    &:hover {
        .favorite-games-categories {
            transform: translate(0px, 0px);
        }
        
    }
    &-categories {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        height: 50px;
        width: 94%;
        bottom: 0;
        background: $game-details;
        transform: translate(0px, 60px);
        transition: all .3s ease-in;
        @include for-max-575 {
            display: none !important;
        }
        a {
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
            img {
                height: initial;
                background-color: initial;
                animation: initial;
            }
        }
        
    }
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        position: relative;
        display: block;
        background-color: hsl(220, 20%, 90%);
        animation: loading 0.8s infinite alternate;
        &::after {
          content: "\1f517" " Broken Image of " attr(alt);
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 1rem;
          background-color: hsl(220, 20%, 90%);
        }
        @include for-max-575 {
            height: 150px;
        }
    }
}

@keyframes loading {
    to {
      background-color: hsl(220, 10%, 75%);
    }
  }

  @include for-max-575 {
    .owl-dots {
        margin-top: 30px;
    }
  }

