.favorite-section {
    padding-bottom: 150px;
    @include for-max-992 {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 70px;
    }
    @include for-max-575 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .owl-item {
        &.center {
            @include for-max-575 {
            }
        }
    }
    .active {
        .item {
            @include for-max-575 {
                margin: 0;
                margin-top: 16px;
            }
        }
    }
    .item {
        @include for-max-575 {
            margin: 0;
            margin-top: 16px;
        }
    }
    .vue-owl-nav {
        position: absolute;
        top: 110px;
        z-index: 99;
        @include for-max-575 {
            display: none;
        }
        &.vue-owl-nav-prev {
            left: 20px;
            @include for-max-575 {
                left: 0px;
            }
        }
        &.vue-owl-nav-next {
            right: 20px;
            @include for-max-575 {
                right: 0px;
            }
        }
        button {
            width: 32px;
            height: 32px;
            border: 1px solid $secondery-opa-5 !important;
            background: transparent;
            border-radius: 4px !important;
            transition: all .3s ease-in !important;
            svg {
                path {
                    transition: all .3s ease-in;
                }
            }
            &:hover {
                background: $secondery !important;
                svg {
                    path {
                        fill: $text-dark;
                    }
                }
            }
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }
    .owl-stage-outer {
        max-height: 280px;
    }
    >div {
        span[style] {
            display: block !important;
        }
    }
}

.favorite-games {
    background: $game-details;
    padding: 6px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    @include for-max-575 {
        border-radius: 4px;
        padding: 4px;
    }
    &:hover {
        .favorite-games-categories {
            transform: translate(0px, 0px);
        }
        a {
            img {
                transform: scale(1.1);
            }
        }
    }
    &--link {
        overflow: hidden;
        border-radius: 8px;
    }
    &-categories {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        height: 50px;
        width: 95%;
        bottom: 0;
        background: $game-details;
        transform: translate(0px, 60px);
        transition: all .5s ease-in;
        @include for-max-575 {
            width: 99%;
        }
        a {
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
            img {
                height: initial;
                background-color: initial;
                animation: initial;
            }
        }
    }
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        position: relative;
        display: block;
        background-color: hsl(220, 20%, 90%);
        animation: loading 0.8s infinite alternate;
        transition: all.5s ease-in;
        &::after {
            content: "\1f517" " Broken Image of " attr(alt);
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: hsl(220, 20%, 90%);
        }
        @include for-max-575 {
            height: 150px;
        }
    }
}

@keyframes loading {
    to {
        background-color: hsl(220, 10%, 75%);
    }
}

@include for-max-575 {
    .owl-dots {
        margin-top: 30px;
    }
}
