.featured-section {
    padding-bottom: 150px;
    @include for-max-992 {
        padding-bottom: 70px;
    }
    .item {
        background: $game-details;
        padding: 10px;
        width: 100%;
        height: 300px;
        border-radius: 16px;
        @include for-max-992 {
            height: 250px;
        }
        .featured-videos {
            height: 100%;
            iframe {
                width: 100%;
                height: 100%;
                border-radius: 16px;
            }
        }
    }
    .owl-item {
        position: relative;
        margin-top: 50px;
        opacity: .4;
        &.center {
            z-index: 9;
            margin-top: 0;
            opacity: 1;
            .item {
                height: 400px;
                width: 650px;
                margin: auto;
                margin-left: -30px;
                @include for-max-1199 {
                    height: 363px;
                    width: 500px;
                    margin-top: 20px;
                }
                @include for-max-992 {
                    height: 320px;
                    width: 425px;
                    margin-top: 16px;
                }
                @include for-max-768 {
                    height: 320px;
                    width: 100%;
                    margin-top: 16px;
                    margin-left: 0;
                }
                @include for-max-575 {
                    height: 300px;
                   
                }
                @include for-max-400 {
                    height: 250px;
                }
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .vue-owl-nav {
        position: relative;
        @include for-max-768 {
            top: 30px;
        }
        @include for-max-575 {
            position: absolute;
            top: 45%;
        }
        &.vue-owl-nav-next {

            @include for-max-590 {
                right: 56px;
            }
        }
        button {
            position: absolute;
            top: -226px;
            width: 32px;
            height: 32px;
            border: 1px solid $secondery-opa-5 !important;
            border-radius: 4px !important;
            transition: all .3s ease-in !important;
            background: transparent;
            @include for-max-1199 {
                top: -209px;
            }
            @include for-max-992 {
                top: -205px;
            }
            @include for-max-590 {
                top: initial;
            }
            svg {
                path {
                    transition: all .3s ease-in;
                }
            }
            &:hover {
                background: $secondery !important;
                svg {
                    path {
                        fill: $text-dark;
                    }
                }
            }
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
        .owl-prev {
            left: 45px;
            top: 174px;
            @include for-max-992 {
                left: 10px;
                top: 131px;
            }
            @include for-max-590 {
                top: initial;
            }
        }
        .owl-next {
            right: 45px;
            @include for-max-992 {
                right: 10px;
            }
            @include for-max-590 {
                right: initial;
            }
        }
    }
    >div {
        span[style] {
            display: block !important;
        }
    }
}
.ytp-impression-link {
    display: none !important;
}
