.forget-password-section {
    padding-top: 100px;
    &--card {
        background: $game-details;
        border-radius: 10px;
        padding: 20px;
        &--title {
            font-size: 40px;
            font-style: italic;
            margin-bottom: 40px;
        }
        form {
            input {
                border-radius: 0;
                border: none;
                color: $text-dark !important;
            }
        }
        &--input-group {
            padding-left: 20px;
            &:first-of-type {
                margin-right: 20px;
            }
            input {
                width: 20px;
            }
            input,label {
                cursor: pointer;
                font-size: 16px;
            }
        }
        button {
            &:hover {
                background: $primary;
            }
        }
    }
}
.forget-otp {
    display: flex;
    flex-direction: row;
    button {
        border: none;
        &:focus {
            outline: none;
        }
        &:first-of-type {
            margin-right: 10px;
        }
        &:last-of-type {
            background: transparent;
            border: 1px solid $secondery;
            color: $text-light;
            &:hover {
                background: $secondery;
                border: 0;
                color: $text-dark;
            }
        }
    }
}
