@mixin oneline-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.games-categories-section {
    padding-top: 92px;
    padding-bottom: 180px;
    @include for-max-768 {
        padding-top: 35px;
    }
    &--categories {
        background: $game-details;
        padding: 25px;
        h6 {
            font-size: 20px;
            margin-bottom: 17px;
            text-transform: capitalize;
            @include gil-regular;
        }
        input,
        label {
            cursor: pointer;
        }
        label {
            padding-left: 10px;
            opacity: .9;
            @include gil-regular;
            &::before {
                background: transparent;
                left: -1.1rem;
            }
        }
        .custom-control-input {
            &:checked {
                &~.custom-control-label {
                    &:before {
                        border: solid $primary !important;
                        border-width: 0 0px 3px 3px !important;
                        transform: rotate(-46deg);
                        top: 9px !important;
                        background: transparent !important;
                        width: 12px;
                        height: 8px;
                        left: -14px;
                        box-shadow: none;
                        z-index: 9;
                    }
                    &::after {
                        background: $secondery !important;
                        left: -18px !important;
                        width: 20px !important;
                        height: 20px !important;
                        top: 4px !important;
                        border: 1px solid $secondery;
                        border-radius: 2px !important;
                    }
                }
            }
        }
        .custom-control-label {
           
            &::after {
                left: -18px;
                width: 20px !important;
                height: 20px;
                
            }
            &::before {
                width: 20px;
                height: 20px;
                border-radius: 2px;
                border-color: $secondery-opa;
            }
        }
    }
    &--tag {
        display: flex;
        align-items: flex-start;
        @include for-max-992 {
            flex-wrap: wrap;
        }
        span {
            display: flex;
            align-items: center;
            padding: 7px 40px 7px 15px;
            background: $primary;
            border-radius: 4px;
            margin-right: 20px;
            margin-bottom: 20px;
            overflow: hidden;
            transition: all .3s ease-in;
            text-transform: capitalize;
            position: relative;
            border: 1px solid $secondery-opa-5;
            @include gil-regular;
            @include for-max-768 {
                padding: 3px 35px 3px 10px;
                font-size: 12px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
            .fa-times {
                cursor: pointer;
                transition: all .3s ease-in;
                color: $secondery;
                right: 0;
                height: 100%;
                width: 12px;
            }
        }
        .remove-icon {
            width: 32px;
            height: 100%;
            position: absolute;
            right: 0;
            display: block;
            background: #171f31;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &--games {
        &--game-card-box {
            &:hover {
                color: inherit;
            }
        }
    }
}

.not-matching {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    @include for-max-575 {
        height: 200px;
    }
}

.clear {
    &-filters {
        margin: auto;
        transition: all .3s ease-in;
        @include for-max-575 {
            padding: 15px;
        }
    }
    margin-top: 30px;
    @include for-max-768 {
        display: flex;
        a {
            &:first-of-type {
                margin-right: 15px;
            }
        }
    }
}

// games
.game-card {
    border: 4px solid $game-details;
    cursor: pointer;
    transition: all .5s ease-in;
    border-radius: 8px;
    overflow: hidden;
    h6 {
        margin-top: 10px;
        font-size: 20px;
        margin-bottom: 10px;
        height: 55px;
        @include for-max-768 {
            height: initial;
        }
    }
    .display-image {
        overflow: hidden;
        display: block;
        @include for-max-768 {
            text-align: center;
            width: 60%;
            margin: auto;
            padding: 20px;
        }
        img {
            width: 100%;
            transition: all .5s ease-in;
        }
    }
    &--category {
        @include for-max-768 {
            height: initial;
        }
        span {
            opacity: .9;
        }
    }
    &--details {
        padding: 20px;
        &--platforms {
            display: flex;
            flex-wrap: wrap;
            a {
                margin-right: 20px;
            }
        }
        .d-flex {
            span {
                @include gil-regular;
            }
        }
    }
    &:hover {
        border-color: $secondery;
        .display-image {
            img {
                transform: scale(1.1);
            }
        }
        .game-rating {
            background: $secondery;
            color: $primary;
        }
    }
}

.game-rating {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: $game-rating;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    @include gil-bold;
    transition: all .5s ease-in;
    @include for-max-1199 {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        font-size: 12px;
        @include for-max-768 {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            font-size: 20px;
        }
    }
}

.game-card-platform {
    .d-flex {
        span {
            margin-right: 17px;
            @include for-max-1199 {
                margin-right: 8px;
            }
            @include for-max-768 {
                margin-right: 17px;
            }
        }
    }
}

// preloader
.preLoadActive {
    .preloader {
        display: block;
        position: fixed;
        background: #110e0eb8;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 999;

    }
}
.preloader {
    display: none;
    min-height: 100%;
    @include for-max-991 {
        min-height: 100vh;
    }
}
.loading {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-transform:uppercase;
    
    width:150px;
    text-align:center;
    line-height:50px;
    
    position:absolute;
    left:0;right:0;top:50%;
    margin:auto;
    transform:translateY(-50%);
  }
  
  .loading span {
    position:relative;
    z-index:999;
    color:$text-dark;
  }
  .loading:before {
    content:'';
    background:$secondery;
    width:128px;
    height:36px;
    display:block;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    
    animation:2s loadingBefore infinite ease-in-out;
  }
  
  @keyframes loadingBefore {
    0%   {transform:translateX(-14px);}
    50%  {transform:translateX(14px);}
    100% {transform:translateX(-14px);}
  }
  
  
  .loading:after {
    content:'';
    background:$text-light;
    width:14px;
    height:60px;
    display:block;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    opacity:.7;
    
    animation:2s loadingAfter infinite ease-in-out;
  }
  
  @keyframes loadingAfter {
    0%   {transform:translateX(-50px);}
    50%  {transform:translateX(50px);}
    100% {transform:translateX(-50px);}
  }
  
  