.game-available-section {
    padding-top: 80px;
    padding-bottom: 150px;
    @include for-max-575 {
        padding-bottom: 230px;
    }
    &--table {
        padding: 0 20px;
        border: 1px solid $secondery;
        position: relative;
        overflow: auto;
        table {
            @include for-max-992 {
                width: 950px;
            }
        }
        &::after {
            content: "";
            height: 60px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: $secondery;
            border: 1px solid $secondery;
            @include for-max-992 {
                width: 990px;
                height: 61px;
            }
        }
    }
    .modal-dialog-centered {
        @include for-min-768 {
            max-width: 726px;
        }
        @include for-min-992 {
            max-width: 760px;
        }
    }
    .modal-content {
        background: $game-details;
        border: .5px solid $secondery;
        border-radius: 0;
        @include for-min-768 {
            padding: 0 93px;
        }
        .modal-header,
        .modal-footer {
            border: none;
        }
        .modal-header {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        // x icon
        @include x-icon;
        table {
            tr {
                td,
                th {
                    color: $text-light;
                }
            }
        }
        .modal-footer {
            padding-bottom: 40px;
            a {
                &:hover {
                    background: $primary;
                }
            }
        }
    }
}

.disablePost {
    opacity: .3;
    cursor: not-allowed !important;
}

.rented-dashbord {
    border-collapse: separate;
    border-spacing: 0px 20px;
    margin-top: -20px;
    thead {
        tr {
            th {
                background: $secondery !important;
                color: $text-dark !important;
                padding: 18px 20px;
            }
        }
    }
    tbody {
        tr {
            cursor: pointer;
            td {
                background: $game-details !important;
                color: $text-light;
                vertical-align: middle;
                border-top: 1px solid $game-details;
                border-bottom: 1px solid $game-details;
                transition: all .3s ease-in;
                padding: 10px 20px;
                &:first-of-type {
                    border-left: 1px solid $game-details;
                }
                &:last-of-type {
                    border-right: 1px solid $game-details;
                }
                img {
                    margin-right: 20px;
                    width: 40px;
                    height: 40px;
                    border-radius: 4px;
                }
            }
            &:hover {
                td {
                    border-color: $secondery;
                }
            }
        }
    }
}

.seller-information-modal {
    table {
        tr {
            td {
                &:first-of-type {
                    width: 250px;
                    font-size: 20px;
                    padding-left: 0;
                    vertical-align: middle;
                }
            }
        }
    }
    select {
        background: $game-details;
        color: $text-light;
        border: 1px solid $secondery;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        background: #141A27 url(../img/down-arw.png);
        background-repeat: no-repeat;
        background-position: 96% center;
        background-size: 16px;
        border-radius: 0;
    }
    &--table-top {
        tr {
            td {
                font-size: 20px;
                @include for-max-768 {
                    padding-left: 0;
                }
                &:last-of-type {
                    @include for-max-768 {
                        padding-top: 0;
                        opacity: .7;
                    }
                }
                &:first-of-type {
                    @include for-max-768 {
                        padding-bottom: 0;
                    }
                }
            }
            @include for-max-768 {
                display: flex;
                flex-direction: column;
                padding-bottom: 0px;
            }
        }
    }
    &--table-bottom {
        tr {
            td {
                &:last-of-type {
                    font-size: 16px;
                    vertical-align: middle;
                }
                &:first-of-type {
                    @include for-max-575 {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

.seller-information {
    border-top: .5px solid $secondery;
    padding-top: 20px;
    h2 {
        margin-bottom: 35px;
        @include for-min-992 {
            font-size: 32px;
        }
    }
    .seller-address {
        width: 100%;
        border: 1px solid $secondery;
        padding: 10px;
        border-radius: 10px;
        font-size: 12px;
        .fa-map-marker-alt {
            display: block;
            color: $secondery;
            margin-bottom: 15px;
            font-size: 20px;
        }
    }
    table {
        tr {
            @include for-max-768 {
                display: flex;
                flex-direction: column;
                padding-bottom: 0px;
            }
            td {
                select,
                input,
                .seller-address {
                    @include for-max-991 {
                        width: 63%;
                    }
                    @include for-max-768 {
                        width: 67%;
                    }
                    @include for-max-575 {
                        width: 43%;
                    }
                }
                @include for-max-768 {
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 0;
                }
                &:first-of-type {
                    vertical-align: initial;
                    padding-top: 21px;
                }
            }
        }
    }
    .error-message {
        top: 8px;
    }
}

// new price
.new-price {
    color: $secondery;
    @include gil-bold;
}

// remind me
.game-remind-me {
    text-align: right;
    margin-bottom: 24px;
    @include for-max-991 {
        margin-right: 150px;
    }
    input {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        &:checked~ {
            label {
                &::before {
                    border: solid $secondery;
                    border-width: 0 0 2px 2px;
                    -webkit-transform: rotate( -45deg);
                    transform: rotate( -45deg);
                    top: 8px;
                    background: transparent;
                    width: 10px;
                    height: 6px;
                    left: 7px;
                    z-index: 9;
                }
            }
        }
    }
    label {
        position: relative;
        padding-left: 50px;
        cursor: pointer;
        &::after,
        &::before {
            content: '';
            position: absolute;
        }
        &::after {
            width: 24px;
            height: 24px;
            border: 1px solid $secondery;
            background: $remind-bg;
            left: 0px;
        }
    }
}