.gamehub-policy-section {
    padding-bottom: 150px;
    &--content {
        display: flex;
        @include for-max-768 {
            flex-direction: column;
        }
        &--text {
            @include for-min-768 {
                max-width: 505px;
            }
            &:first-of-type {
                @include for-min-768 {
                    margin-left: 32px;
                    margin-right: 57px;
                }
            }
            p {
                margin-bottom: 32px;
                line-height: 28px;
                opacity: .97;
            }
            &--heading {
                p {
                    &:first-of-type {
                        color: $secondery;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}
