html {
    height: 100% !important;
}

.login-section,
.registration-section {
    padding-top: 40px;
    padding-bottom: 150px;
    @include for-max-575 {
        padding-bottom: 150px;
    }
}

.registration-form {
    margin-top: 100px;
    padding-bottom: 200px;
    ul {
        li {
            font-size: 24px;
            padding: 0;
            color: $secondery;
            margin-top: 100px;
        }
    }
    .form-group {
        input {
            border-radius: 0;
            border: none;
            font-size: 20px;
        }
    }
}

.login-form {
    margin-top: 50px;
    @include for-max-575 {
        margin-top: 0;
    }
    ul {
        margin-bottom: 30px;
        li {
            font-family: 'Roboto Condensed', sans-serif;
            padding: 0;
            color: $secondery;
            background: none;
            font-size: 24px;
            cursor: text;
        }
    }
    .form-group {
        margin-bottom: 0;
        input {
            border-radius: 0;
            border: none;
            height: 50px;
            color: $primary;
            &::placeholder {
                color: $gray;
                @include for-max-991 {
                    font-size: 16px;
                }
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px $text-light inset !important;
                -webkit-text-fill-color: $text-dark !important;
            }
        }
        label {
            font-size: 20px;
            font-weight: normal;
        }
    }
    .error-message {
        padding-top: 2px;
        display: block;
        &::after {
            top: 2px;
        }
    }
}

.remember-me {
    input,
    label {
        cursor: pointer;
    }
    input {
        width: initial;
    }
}

.login-logo {
    margin-bottom: 90px;
    img {
        width: 182px;
    }
}

.floating-label-group {
    position: relative;
    .floating-label {
        position: absolute;
        top: 0;
        color: $text-dark;
        left: 0;
        font-size: 20px;
        margin: 0;
        background: $secondery;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input {
        padding-left: 55px;
    }
}

.success-message {
    font-size: 20px;
}

.error-message {
    color: $gamehub-danger;
    position: relative;
    padding-left: 30px;
    &::after {
        content: '';
        background: url(../img/error.png);
        background-repeat: no-repeat;
        display: block;
        width: 22px;
        height: 22px;
        background-size: 20px;
        position: absolute;
        left: 0;
        top: -2px;
    }
}

.custom-checkbox {
    input,
    label {
        cursor: pointer;
    }
}

.sign-btn {
    margin-top: 40px;
    margin-bottom: 20px;
}

.or {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
}

.form-group {
    input {
        font-size: 20px;
        @include for-max-575 {
            font-size: 18px;
        }
    }
}

// otp button
.otpbtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .resend-code {
        font-size: 14px;
        padding-left: 0;
        color: $secondery;
        text-decoration: none;
        &:hover {
            text-decoration: initial;
        }
    }
    .btn--otp {
        margin-top: 45px;
    }
}

.otp-input-group {
    margin-top: 15px;
    margin-bottom: 15px;
    >div {
        display: flex;
        justify-content: space-between;
    }
    input {
        width: 60px;
        height: 60px !important;
        text-align: center;
        color: $text-dark;
        font-size: 40px;
        @include for-max-575 {
            width: 50px;
            height: 50px !important;
            font-size: 34px;
        }
    }
}

.cursor-none {
    cursor: not-allowed;
}

// email password setup
.password-setup-popup {
    width: 100%;
    height: 100%;
    background: #000000a3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    @include for-max-575 {
        padding: 0 15px;
    }
    &--content {
        width: 540px;
        height: 400px;
        background: $secondery;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        @include for-max-768 {
            width: 450px;
            height: 350px;
        }
        @include for-max-575 {
            width: 100%;
        }
        p {
            font-size: 40px;
            margin-bottom: 80px;
            margin-top: 120px;
            color: $text-dark;
            @include for-max-768 {
                margin-top: 100px;
                margin-bottom: 35px;
                font-size: 26px;
            }
        }
        a {
            background: $game-details;
            padding: 7px 30px;
            border-radius: 5px;
        }
        &--btn {
            width: 120px;
            height: 48px;
            background: $primary;
            border: none;
            color: $text-light;
            border-radius: 5px;
            transition: all .3s ease-in;
            text-transform: uppercase;
            &:focus {
                outline: none;
            }
            &:hover {
                background: $game-details;
            }
        }
    }
}

//   floating-mail
.floating-email {
    position: relative;
    label {
        position: absolute;
        width: 50px;
        height: 50px;
        background: $secondery;
        color: $text-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
    }
    input {
        padding-left: 60px;
    }
}

// floating label
// .floating-label {
//     &--input {
//         &:focus {
//             .floating-label--label {
//                 top: -10px;
//                 color: red;
//                 font-size: 30px;
//             }
//         }
//     }
// }
