html {
    height: 100% !important;
}

.login-section,
.registration-section,
.forget-password-section {
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(90deg, rgba(11, 15, 24, 0.85) 0%, rgba(11, 15, 24, 0) 243.28%), url(../img/login-bg.webp);
    background-repeat: no-repeat;
    min-height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    @include for-max-575 {
        padding-bottom: 150px;
    }
}
.registration-section {
    background-size: cover;
}
.registration-form {
    margin-top: 100px;
    padding-bottom: 200px;
    ul {
        li {
            font-size: 24px;
            padding: 0;
            color: $secondery;
            margin-top: 100px;
        }
    }
}
.sign-text {
    margin-bottom: 32px;
}
.login-form {
    max-width: 420px;
    width: 100%;
    h2 {
        margin-bottom: 32px;
    }
    @include for-max-575 {
        margin-top: 0;
    }
    .form-group {
        input {
            &::placeholder {
                color: $gray;
                @include for-max-991 {
                    font-size: 16px;
                }
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px initial inset !important;
                border-color: $secondery;
            }
        }
    }
    .error-message {
        padding-top: 2px;
        display: block;
        &::after {
            top: 2px;
        }
    }
}

.remember-me {
    input,
    label {
        cursor: pointer;
    }
    input {
        width: initial;
    }
}

.login-logo {
    margin-bottom: 90px;
    img {
        width: 182px;
    }
}

.floating-label-group {
    position: relative;
    .floating-label {
        position: absolute;
        top: 0;
        color: $text-dark;
        left: 0;
        font-size: 20px;
        margin: 0;
        background: $secondery;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.custom-checkbox {
    input,
    label {
        cursor: pointer;
    }
}

.sign-btn {
    margin-top: 40px;
    margin-bottom: 20px;
}

.or {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
}


// otp button
.otpbtn {
    margin-top: 40px;
    .resend-code {
        font-size: 14px;
        padding-left: 0;
        color: $secondery;
        text-decoration: none;
        &:hover {
            text-decoration: initial;
        }
    }
    .btn--otp {
        margin-top: 45px;
    }
}

.otp-input-group {
    margin-top: 15px;
    margin-bottom: 15px;
    >div {
        display: flex;
        justify-content: space-between;
    }
    input {
        width: 52px;
        height: 48px !important;
        text-align: center;
        color: $text-light;
        font-size: 40px;
        border-radius: 8px;
        border: 1px solid $secondery-opa-5;
        background: $login-input-bg;
        @include for-max-575 {
            width: 50px;
            height: 50px !important;
            font-size: 34px;
        }
        &:focus,
        &:focus-visible {
            border-color: $secondery;
            outline: none;
        }
    }
}

.cursor-none {
    cursor: not-allowed;
}

// email password setup
.password-setup-popup {
    width: 100%;
    height: 100%;
    background: #000000a3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    @include for-max-575 {
        padding: 0 15px;
    }
    &--content {
        width: 540px;
        height: 400px;
        background: $secondery;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        @include for-max-768 {
            width: 450px;
            height: 350px;
        }
        @include for-max-575 {
            width: 100%;
        }
        p {
            font-size: 40px;
            margin-bottom: 80px;
            margin-top: 120px;
            color: $text-dark;
            @include for-max-768 {
                margin-top: 100px;
                margin-bottom: 35px;
                font-size: 26px;
            }
        }
        a {
            background: $game-details;
            padding: 7px 30px;
            border-radius: 5px;
        }
        &--btn {
            width: 120px;
            height: 48px;
            background: $primary;
            border: none;
            color: $text-light;
            border-radius: 5px;
            transition: all .3s ease-in;
            text-transform: uppercase;
            &:focus {
                outline: none;
            }
            &:hover {
                background: $game-details;
            }
        }
    }
}

//   floating-mail
.floating-email {
    position: relative;
    label {
        position: absolute;
        width: 50px;
        height: 50px;
        background: $secondery;
        color: $text-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
    }
}

.login-input {
    height: 48px;
    border-radius: 8px;
    border: 1px solid $secondery-opa-5;
    background: $login-input-bg;
    color: $white-50;
    padding-left: 20px;
    font-size: 14px;
    @include gil-medium;
    color: $text-light;
    &:focus {
        border-color: $secondery;
        outline: none;
    }
    &:focus-visible {
        border-color: $secondery !important;
    }
}
.bg-login-input {
    background: $login-input-bg;
}
.all-btn {
    margin-top: 40px;
}
// error msg

.error-message {
    color: $gamehub-danger;
    position: relative;
    padding-left: 30px;
    &::after {
        content: '';
        background: url(../img/error.png);
        background-repeat: no-repeat;
        display: block;
        width: 22px;
        height: 22px;
        background-size: 20px;
        position: absolute;
        left: 0;
        top: -2px;
    }
}
.error-input-group {
    position: relative;
    .error-txt {
        // position: absolute;
        margin-left: auto;
        background: $gamebazar-badge;
        padding: 0 12px;
        min-height: 32px;
        border-radius: 0px 0px 4px 4px;
        display: flex;
        align-items: center;
        max-width: 90%;
        width: fit-content;
    }
    input {
        border-color: $gamebazar-badge !important;
        border-bottom-right-radius: 0;
        &:focus {
            border-color: $gamebazar-badge !important;
        }
        &:focus-visible {
            border-color: $gamebazar-badge !important;
        }
    }
}

