.body-home {
    .gamehub-menu {
        @include for-max-575 {
            background: transparent;
        }
    }
}

.gamehub-menu {
    background: $primary;
    padding: 8px 0;
    &.gamehub-menu-active {
        background: $trans-nav-bg;
    }
    @include for-max-1199 {
        padding: 20px 0;
    }
}

.navbar-brand {
    margin-right: 0;
    @include for-max-1199 {
        padding-left: 70px;
        padding-top: 0;
    }
    @include for-max-575 {
        padding-left: 60px;
    }
    img {
        width: 120px;
        @include for-max-1199 {
            width: 100px;
        }
        @include for-max-575 {
            width: 120px;
        }
    }
}

.gamehub-menu-collapse {
    @include for-max-1199 {
        padding-top: 60px;
        margin-top: 20px;
        position: relative;
        background: $trans-nav-bg;
    }
    >ul {
        margin: auto;
        display: flex;
        justify-content: center;
        @include for-max-1199 {
            display: block;
            margin-left: 0px;
            padding-bottom: 0;
        }
        li {
            padding-left: 0;
            @include for-max-992 {
                margin-bottom: 10px;
                width: fit-content;
            }
            @include for-max-575 {
                margin-left: 15px;
            }
            &:last-child {
                margin-right: 0;
                @include for-min-1200 {
                    margin-left: 30px;
                }
                @include for-max-1199 {
                    margin-bottom: 20px;
                }
            }
            a {
                padding: 0 20px;
                color: $gray-border;
                @include gil-medium;
                @include for-max-1199 {
                    padding: 0 10px;
                    font-size: 14px;
                }
                &.router-link-exact-active {
                    position: relative;
                    @include gil-bold;
                    color: $secondery;
                    &::after {
                        content: "";
                        width: 83px;
                        height: 4px;
                        position: absolute;
                        background: $secondery;
                        top: 48px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        transform: skew(-50deg);
                        @include for-max-1199 {
                            width: 50px;
                        }
                        @include for-max-992 {
                            top: 28px;
                        }
                    }
                }
            }
            &.dropdown {
                &:hover {
                    &::after {
                        border-bottom-color: $secondery;
                        @include for-min-1200 {
                            transform: rotate(183deg);
                        }
                        transform: initial;
                    }
                }
            }
            &.show {
                &::after {
                    @include for-max-1199 {
                        transform: rotate(183deg) !important;
                    }
                }
            }
            &:hover {
                a {
                    color: $secondery;
                }
            }
        }
    }
}

// toogler button
.toggler-position {
    position: absolute;
    right: 0;
    top: 15px;
    padding-right: 1rem;
    @include for-max-1199 {
        right: initial;
        left: 50px;
        top: 17px;
    }
    @include for-max-575 {
        left: 10px;
    }
    .custom-toggler {
        cursor: pointer;
        position: relative;
        width: 2.5rem;
        height: 2rem;
        padding: 0.5rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1rem;
        border-radius: 0.25rem;
        span {
            display: block;
            position: absolute;
            height: 3px;
            background: $secondery;
            border-radius: 10px;
            opacity: 1;
            left: 25%;
            transform: rotate(0deg);
            transition: all .3s ease-in;
            &:nth-child(1) {
                top: 34.5%;
                width: 18px;
            }
            &:nth-child(2) {
                width: 13px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 50%;
            }
            &:nth-child(4) {
                top: 65.5%;
                width: 8px;
            }
        }
        &:focus {
            outline: none;
        }
    }
    .open {
        span {
            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
                width: 18px;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                width: 18px;
            }
            &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

.signin-cart-group {
    @include for-max-1199 {
        position: absolute;
        top: 17px;
        right: 50px;
    }
    @include for-max-575 {
        right: 20px;
    }
}

.gamehub-input-group-searchbar {
    @include for-max-1199 {
        position: absolute;
        top: 20px;
    }
}

// gamehub input group
.gamehub-input-group {
    display: flex;
    align-items: center;
    @include for-max-1199 {
        flex-wrap: wrap;
    }
    &--content {
        margin-right: 0;
        height: 40px;
        display: flex;
        align-items: center;
        &--cart {
            display: block;
            position: relative;
            &--icon {
                color: $secondery;
                font-size: 25px;
            }
            // badge
            .gamehub-badge {
                background: $cart-badge;
                color: $text-light;
                position: absolute;
                top: -10px;
                right: -6px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
            }
        }
        &:hover {
           > a {
                color: $text-dark;
                background: $secondery;
            }
            .gamehub-input-group--content--cart {
                background: none;
            }
        }
        &:hover {
            .complete-sign-in {
                .gamehub-dropdown-menu {
                    a {
                        background: initial;
                    }
                }
            }
        }
        .dropdown-menu {
            left: initial;
        }
    }
    // end content
}

// complete sign in
.complete-sign-in {
    cursor: pointer;
    position: relative;
    margin: 0 20px;
    display: flex;
    align-items: center;
    &::after {
        display: none !important;
    }
    .user-name {
        @include for-max-575 {
            display: none;
        }
    }
    &--badge {
        position: absolute;
        width: 16px;
        height: 16px;
        background: $account-verified;
        border-radius: 50%;
        right: 0;
        top: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            border: 1px solid $text-light;
            border-width: 2px 2px 0 0;
            position: absolute;
            top: 5px;
            height: 5px;
            width: 9px;
            transform: rotate(125deg);
            content: "";
        }
    }
    &--nav-profile-img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        border: 1px solid $text-light;
        margin-left: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// normal sign in
.sign-in {
    color: $secondery;
    font-weight: 700;
    text-align: center;
    border: 1px solid $secondery;
    width: 116px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-21deg);
    margin: 0 20px;
    @include for-max-1199 {
        width: 100px;
    }
    @include for-max-1199 {
        transform: skew(0deg);
    }
    @include for-max-575 {
        width: 80px;
        height: 35px;
    }
    span {
        display: inline-block;
        transform: skew(21deg);
        @include for-max-1199 {
            transform: skew(0deg);
        }
    }
}

.search-input-design {
    position: relative;
    width: 140px;
    height: 40px;
    @include for-max-1199 {
        width: 120px;
    }
    @include for-max-1199 {
        width: 200px;
    }
    @include for-max-575 {
        margin-left: 20px;
    }
    input {
        height: 100%;
        border: none;
        width: 100%;
        margin: auto;
        position: relative;
        left: 3px;
        top: 2px;
        background: transparent;
        color: #fff;
        padding-left: 15px;
        padding-right: 8px;
        // transform: skew(21deg);
        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
        @include for-max-1199 {
            width: 115px;
        }
        @include for-max-1199 {
            width: 100%;
        }
    }
    #autosuggest {
        >div {
            &:first-of-type {
                @include for-max-1199 {
                    // transform: skew(0deg);
                }
                input {
                    @include for-max-1199 {
                        // transform: skew(0deg);
                    }
                }
            }
        }
    }
    &.searchbar-input {
        width: 0;
        // transition: all .3s ease-in;
    }
    
}
.animateNavebar {
    width: 140px;
    // transition: all .3s ease-in;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000bd;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    .searchbar-input {
        width: 60%;
        top: 2px;
    }
    .gamehub-search-btn {
        display: block;
        z-index: 10;
    }
    #autosuggest {
        >div {
            &:first-of-type {
                border: 1px solid $secondery;
                height: 45px;
            }
        }
    }
}
.gamehub-search-btn {
    width: 45px;
    height: 45px;
    background: $secondery;
    border-radius: 0;
    position: relative;
    left: -3px;
    top: 2px;
    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
    &--icon {
        color: $text-dark;
        font-size: 18px;
    }
}
.gamehub-search-btn-2 {
    width: 45px;
    height: 45px;
    border-radius: 0;
    position: relative;
    left: -3px;
    top: 2px;
    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
    .gamehub-search-btn--icon {
        color: $text-light;
        font-size: 18px;
        opacity: .5;
    }
}
.gamehub-search-btn {
    display: none;
}
.dnone {
    display: none;
}


.gamehub-dropdown-menu {
    border-radius: 5px;
    background: $game-details;
    border: 1px solid $secondery;
    top: 59px;
    @include for-max-575 {
        right: -20px;
        left: initial;
    }
    &--top {
        padding: 0 20px;
        padding-top: 10px;
    }
    &--bottom {
        padding: 0 20px;
        padding-top: 10px;
        position: relative;
        &::after {
            content: "";
            width: 90%;
            height: 1px;
            background: $gray;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    a {
        color: $text-light !important;
        margin-bottom: 15px;
        padding: 0;
        &:hover {
            color: $secondery !important;
        }
    }
}

.body-home {
    .copyright-section {
        .footer-bottom {
            display: none;
        }
    }
}

.gamehub-body {
    position: relative;
    min-height: 100vh;
    .container {
        @include for-min-1200 {
            max-width: 1180px;
        }
        @include for-min-1400 {
            max-width: 1200px;
        }
    }
    // footer alway stay bottom
    .copyright-section {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

// Auto suggestion
.autosuggest__results-container {
    ul {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        border: 2px solid $secondery;
        width: 185px;
        margin-top: 10px;
        background: $game-details;
        color: $text-light;
        padding: 0px;
        margin-left: -6px;
        height: 187px;
        overflow-y: auto;
        @include for-max-1199 {
            margin-left: 0;
        }
        @include for-max-575 {
            width: 240px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: $secondery;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &::-webkit-scrollbar {
            width: 10px;
            background: $secondery;
        }
        &::-webkit-scrollbar-thumb {
            border-left: 1px solid $secondery;
            border-right: 0;
            background: $text-dark;
        }
        @include for-max-575 {
            position: relative;
            z-index: 9;
        }
        li {
            transition: all .3s ease-in;
            padding: 8px 20px;
            border-radius: 0 !important;
            border-bottom: 1px solid $primary;
            margin-left: 0;
            width: 100%;
            &:hover {
                background: $secondery;
                color: $text-dark;
            }
        }
    }
}



// delete moadl
.swal-modal {
    background: $game-details;
    @include for-max-575 {
        width: calc(100% - 60px);
    }
}

.swal-title {
    color: $text-light;
    @include for-max-575 {
        font-size: 18px;
    }
}

.swal-text {
    color: $text-light;
    opacity: .9;
    @include for-max-575 {
        font-size: 15px;
        text-align: center;
    }
}

.swal-footer {
    @include for-max-575 {
        text-align: center;
    }
}

.swal-button-container {
    button {
        background: $secondery;
        color: $text-dark;
        border-radius: 0;
        transition: all .3s ease-in;
        cursor: pointer;
        @include for-max-575 {
            height: 48px;
            width: 100px;
        }
    }
}

.swal-icon--success {
    background: $game-details;
    &::before,
    &::after {
        background: $game-details;
    }
    &__hide-corners {
        background: $game-details;
    }
    &__line {
        background: $game-rating;
    }
    &__ring {
        border-color: $game-rating;
    }
}

.swal-icon--warning {
    border-color: $gamehub_danger !important;
    &__body,
    &__dot {
        background: $gamehub_danger;
    }
}

.swal-button:not([disabled]):hover {
    background: $secondery;
}

// Notification
.promo-notification {
    height: 56px;
    @include for-max-575 {
        height: 90px;
    }
    .alert {
        @include for-max-1199 {
            top: 75px;
            ;
        }
        button {
            top: 5px;
        }
    }
}

.dropdown {
    @include for-max-1199 {
        width: 100% !important;
    }
    &--sub-menu {
        position: absolute;
        top: 47px;
        width: 200px;
        padding: 0;
        background: $game-details;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        display: none;
        right: 0;
        border-radius: 0;
        @include for-max-1199 {
            width: 100%;
        }
        @include for-max-575 {
            left: -15px;
        }
        a {
            padding: 10px 20px !important;
            width: 100%;
            display: block;
            transition: all .3s ease-in;
            color: $text-light !important;
            opacity: .95;
            border-radius: 0;
            border-bottom: 1px solid $text-dark;
            transition: all .3s ease-in;
            &:last-of-type {
                border-bottom: 0;
            }
            &:hover {
                color: $text-dark !important;
            }
            &::after {
                display: none;
            }
        }
        &:hover {
            a {
                color: $text-dark;
            }
        }
        &--item {
            border-left: 1px solid $secondery;
            border-right: 1px solid $secondery;
            transition: all .3s ease-in;
            &:last-of-type {
                border-bottom: 1px solid $secondery;
            }
            &:first-of-type {
                border-top: 1px solid $secondery;
            }
            &:hover {
                background: $secondery;
            }
        }
    }
    &:hover {
        .dropdown--sub-menu {
            @include for-min-1200 {
                display: block;
            }
            @include for-max-1199 {
                height: 260px;
            }
        }
        &::after {
            transform: rotate(183deg);
        }
    }
    &::after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $gray-border;
        content: '';
        transition: all .3s ease-in;
    }
}
// language
.gamehub-language {
    margin-right: 32px;
    display: flex;
    align-items: center;
    @include for-max-1199 {
        padding-left: 15px;
        padding-bottom: 20px;
    }
    .active {
        // background: $secondery;
        color: $secondery;
        font-weight: 700;
        opacity: 1;
    }
    span {
        height: 27px;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-light;
        opacity: .75;
        cursor: pointer;
    }
    >div {
        &:first-of-type {
            border-right: 3px solid $secondery;
        }
    }
}
.rating-notification {
    @include for-max-380 {
        right: -5px;
    }
    &--list {
        padding: 16px;
        &:hover {
            background: $secondery;
            color: $primary;
            p {
                &:last-of-type {
                    color: $primary !important;
                    span {
                        color: $primary !important;
                    }
                }
            }
        }
    }
}

