// inbox section
.inbox-section {
    padding: 150px 0;
    @include for-max-992 {
        padding: 90px 0;
    }
    &--content {
        border: 1px solid $secondery;
        &--heading {
            background: $secondery;
            padding: 15px 0;
            h6 {
                margin: 0;
                color: $text-dark;
            }
        }
        .inbox-according {
            padding: 30px 20px;
            .card {
                background: $game-details;
                margin-bottom: 20px;
                position: relative;
                overflow: hidden;
                border: 1px solid $secondery;
                border-radius: 10px;
                &-header {
                    padding: 0;
                    // height: 60px;
                    transition: all .3s ease-in;
                    button {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        &.collapsed {
                            &::after {
                                content: "\2228";
                                right: 27px;
                                left: initial;
                                top: 20px;
                                color: $secondery;
                            }
                        }
                        &::after {
                            content: "\2227";
                            right: 27px;
                            left: initial;
                            top: initial;
                            bottom: 10px;
                            color: $secondery;
                        }
                    }
                }
                .collapse {
                    // margin-top: -60px;
                    &:not(.show) {
                        height: 60px;
                        display: block;
                        .card-body {
                            line-height: 55px;
                            margin-top: -15px;
                        }
                    }
                    span {
                        position: relative;
                        top: 23px;
                        left: 15px;
                        i {
                            color: $secondery;
                        }
                    }
                    .card-body {
                        text-overflow: ellipsis;
                        padding: 0 50px;
                        padding-bottom: 30px;
                       
                    }
                }
            }
        }
    }
}