.overview {
    padding-top: 70px;
    padding-bottom: 60px;
    @include for-max-575 {
        padding-top: 20px;
    }
}
.overview-content {
    background: $game-details;
    padding: 30px;
    margin-top: 30px;
    &--text {
        p {
            &:first-of-type {
                color: $secondery;
                margin-bottom: 15px;
            }
        }
    }
}
