.my-rating {
    &--dashboard {
        padding: 50px 36px;
        @include for-max-575 {
            padding: 20px;
        }
    }
}
.rating-box-modal {
    .modal-dialog {
        .modal-content {
            height: initial;
            padding: 40px 20px 20px 20px;
            max-width: 500px;
        }
    }
}

.vue-react {
    .vue-feedback-reaction {
        .reaction {
            @include for-max-575 {
                padding: 0;
            }
        }
    }
}
.vue-star-rating-rating-text {
    font-size: 40px;
    @include gil-medium;
    margin-left: 32px;
    color: $secondery;
}
.vue-star-rating-star {
    .vue-star-rating-star {
        margin-right: 10px;
    }
}
