
.registration-tabs-box {
    border: 1px solid $secondery-opa-5;
    border-radius: 8px;
    padding: 16px 20px;
    &.router-link-active {
        background: $secondery-gradient;
        p {
            color: $primary !important;
            &:first-of-type {
                font-family: gilroy-bold !important;
            }
        }
    }
}
.margin-t-32 {
    margin-top: 32px;
}
.margin-b-32 {
    margin-bottom: 32px;
}
