.related-game-section {
    padding-bottom: 150px;
    h6 {
        margin-bottom: 10px;
    }
    .vue-owl-nav {
        position: absolute;
        right: 0;
        top: -65px !important;
        @include for-max-575 {
            top: -50px !important;
        }
        &.vue-owl-nav-left {
            right: 70px;
        }
        button {
            width: 50px;
            height: 50px;
            border: 1px solid #FFD715 !important;
            border-radius: 0 !important;
            -webkit-transition: all .3s ease-in !important;
            transition: all .3s ease-in !important;
            background: transparent;
            position: absolute;
            right: 0;
            &:focus {
                outline: none !important;
            }
            &:hover {
                background: $secondery !important;
                .arrow {
                    color: $text-dark;
                }
                svg {
                    path {
                        fill: $text-dark;
                    }
                }
            }
            svg {
                path {
                    transition: all .3s ease-in;
                }
            }
            .arrow {
                color: $text-light;
                transition: all .3s ease-in;
            }
            @include for-max-575 {
                width: 40px;
                height: 40px;
            }
        }
    }
    >div {
        span[style] {
            display: block !important;
        }
    }
    .owl-item {
        &.active {
            @include for-max-768 {
                opacity: 1 !important;
            }
        }
    }
}
