.rookie-elite-content {
    margin: 100px auto;
    padding: 0 20px;
    text-align: center;
    @include for-min-768 {
        max-width: 505px;
    }
    &--heading {
        margin-bottom: 47px;
    }
    &--paragraph {
        opacity: .9;
    }
}