.screenshot-video {
    position: relative;
    padding-top: 40px;
    h6 {
        margin-bottom: 30px;
    }
    .vue-owl-nav {
        position: absolute;
        top: -70px;
        right: 0px;
        @include for-max-575 {
            top: -60px;
        }
        &.vue-owl-nav-left {
            right: 70px;
        }
        button {
            width: 50px;
            height: 50px;
            border: 1px solid #FFD715 !important;
            border-radius: 0 !important;
            transition: all .3s ease-in !important;
            background: transparent;
            @include for-max-575 {
                width: 40px;
                height: 40px;
            }
            &:focus {
                outline: none !important;
            }
            &:hover {
                background: $secondery !important;
                .arrow {
                    color: $text-dark;
                }
                i {
                    color: $text-dark;
                }
            }
            &.owl-prev {
                left: -70px;
                @include for-max-575 {
                    left: -60px;
                }
            }
            .arrow {
                color: $text-light;
                transition: all .3s ease-in;
            }
        }
    }
    .owl-dots {
        margin-top: 30px !important;
        &.disabled {
            display: block;
        }
        @include for-max-575 {
            display: none !important;
        }
        button {
            span {
                width: 60px !important;
                height: 7px !important;
                border-radius: 0 !important;
                background: transparent !important;
                border: 1px solid $secondery !important;
            }
            &.active {
                span {
                    background: $secondery !important;
                }
            }
            &:focus {
                outline: none !important;
            }
        }
    }
    .owl-item {
        .item {
            margin-right: 10px;
            overflow: hidden;
            iframe {
                width: 100%;
            }
            img {
                height: 146px;
            }
            iframe,
            img {
                transition: all.5s ease-in;
            }
            &:hover {
                iframe,
                img {
                    transform: scale(1.1);
                }
            }
            
        }
    }
    >div {
        span[style] {
            display: block !important;
        }
    }
    // modal
    .screenshot-modal {
        .modal-dialog {
            max-width: 100% !important;
            background: $screenshot-modal-bg;
            margin-top: 0;
            margin-bottom: 0;
            height: 100%;
            .modal-content {
                max-width: 900px;
                height: initial;
                margin: auto;
                padding: 60px;
                @include for-max-575 {
                    padding: 50px 10px;
                }
                iframe {
                    width: 100%;
                    height: 200px;
                    @include for-min-768 {
                        height: 436px;
                    }
                }
            }
        }
    }
    &--video {
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .owl-item {
        &.active {
            @include for-max-768 {
                opacity: 1 !important;
            }
        }
    }
}
