.set-password {
    padding-bottom: 120px;
    padding-top: 40px;
    @include for-max-575 {
        padding-top: 20px;
    }
    .card {
        background: transparent;
        .card-title {
            margin-bottom: 30px;
            font-size: 24px;
            font-style: italic;
            color: $secondery;
            font-family: 'Roboto Condensed', sans-serif;
        }
    }
    form {
        @include for-min-1200 {
            width: 90%;
            margin: auto;
        }
        .form-group {
            input {
                height: 50px;
                border-radius: 0;
                color: $text-dark;
                border: none;
                &.gray {
                    color: #808080;
                }
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px $text-light inset !important;
                    -webkit-text-fill-color: $text-dark !important;
                }
            }
            label {
                font-size: 20px;
            }
        }
    }
    .error-message {
        margin-top: 10px;
        display: inline-block;
        &::after {
            top: 0px;
        }
    }
}

// error message custom text change by css
.first-name-error,
.last-name-error,
.number-error-message {
    font-size: 0;
    &::before {
        font-size: 16px;
    }
}

.first-name-error {
    &::before {
        content: "Please enter your first name";
    }
}

.last-name-error {
    &::before {
        content: "Please enter your last name";
    }
}

.number-error-message {
    &::before {
        content: "Please enter a valid number";
    }
}