.set-password {
    padding-bottom: 120px;
    padding-top: 120px;
    .card {
        background: transparent;
        .card-title {
            margin-bottom: 30px;
            font-size: 24px;
            font-style: italic;
            color: $secondery;
        }
    }
    form {
        @include for-min-1200 {
            width: 90%;
            margin: auto;
        }
            .form-group {
                input {
                    height: 50px;
                    border-radius: 0;
                    color: $text-dark;
                    border: none;
                    &.gray {
                        color: #808080;
                    }
                }
                label {
                    font-size: 20px;
                }
            }
    }
    .error-message {
        margin-top: 10px;
        display: inline-block;
        &::after {
            top: 0px;
        }
    }
    
}