.slider-section {
    background: url(../img/gamehub-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    height: 700px;
    @include for-max-992 {
        height: 550px;
        padding-top: 70px;
    }
    @include for-max-768 {
        height: 400px;
    }
    @include for-max-575 {
        background-position: center;
        margin-top: -56px;
        height: 600px;
        position: relative;
        align-items: center;
        padding-top: 0;
    }
    h1 {
        margin-bottom: 25px;
        @include for-max-768 {
            width: 370px;
        }
        @include for-max-575 {
            width: 100%;
        }
    }
    h6 {
        br {
            @include for-max-575 {
                display: none;
            }
        }
    }
    &::after {
        @include for-max-575 {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .7);
        }
    }
    .container {
        @include for-max-575 {
            z-index: 99;
        }
    }
    .btn--secondery {
        @include for-max-575 {
            width: 196px;
            height: 50px;
            margin-left: 15px;
        }
    }
}

.gamehub-heading {
    color: #fff;
    font-weight: bold;
    // text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    @include roboto-con;
    font-size: 32px;
    @include for-min-992 {
        font-size: 48px;
    }
    @include for-max-575 {
        line-height: 43px;
        width: 100%;
    }
    br {
        &:nth-of-type(2) {
            @include for-max-575 {
                display: none;
            }
        }
    }
   
}
.bn {
    .gamehub-heading {
        line-height: 44px;
        @include for-min-992 {
            font-size: 42px;
            line-height: 70px;
        }
        @include for-max-575 {
            font-size: 28px;
            margin-top: 50px;
        }
    }
    .curve-shape {
        .curve-img {
            width: 110%;
            top: -3px;
            left: -13px;
            
        }
        &.curve-shape-3 {
            img {
                height: 59px;
                top: -9px;
                @include for-max-991 {
                    height: 47px;
                    top: -7px;
                }
                @include for-max-575 {
                    left: -9px;
                }
            }
        }
        &.curve-shape-4 {
            .curve-img {
                width: 115%;
                left: -5px;
               
            }
        }
        &.curve-shape-2 {
            .curve-img {
               @include for-max-575 {
                left: -4px;
               }
            }
        }
    }
}
.curve-shape {
    z-index: 2;
    color: $primary;
    margin-right: 30px;
    &.curve-shape-1 {
        margin-left: 15px;
    }
    &.curve-shape-3 {
        margin-right: 15px;
    }
    &.curve-shape-4 {
        margin-left: 15px;
        @include for-max-575 {
            margin-right: 10px;
        }
       
    }
    .curve-img {
        top: 0px;
        left: -13px;
        z-index: -1;
        height: 39px;
        @include for-min-992 {
            height: 55px;
            top: 4px;
        }
    }
}
.home-banner-text {
   @include for-min-992 {
    max-width: 500px;
    font-size: 20px;
    line-height: 36px;
    opacity: .9;
   }
}
.heading-btn {
    .btn--collision {
        @include for-max-575 {
            padding: 5px 0px !important;
            font-size: 14px;
            flex: 1;
            text-align: center;
            font-weight: normal !important;
        }
        &:not(:last-child) {
            @include for-max-575 {
                margin-right: 8px !important;
            }
        }
    }
}
