.slider-section {
    background: url(../img/Juggernaut.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 820px;
    @include for-max-992 {
        height: 550px;
    }
    @include for-max-768 {
        height: 400px;
    }
    @include for-max-575 {
        background-position: center;
        margin-top: -56px;
        height: 600px;
        position: relative;
    }
    h1 {
        margin-bottom: 25px;
        @include for-max-768 {
            width: 370px;
        }
        @include for-max-575 {
            width: 90%;
        }
    }
    h6 {
        margin-bottom: 40px;
        line-height: 24px;
        @include for-max-575 {
            font-weight: 400;
            font-size: 16px;
        }
        br {
            @include for-max-575 {
                display: none;
            }
        }
    }
    &::after {
        @include for-max-575 {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .7);
        }
    }
    .container {
        @include for-max-575 {
            z-index: 99;
        }
    }
    .btn--secondery {
        @include for-max-575 {
            width: 196px;
            height: 50px;
            margin-left: 15px;
        }
    }
}

.gamehub-heading {
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    span {
        color: $secondery;
    }
}