.tournament-nav {
    background: url(../img/Header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    a {
        font-weight: bold;
        &:hover {
            color: $text-dark;
        }
    }
    .button {
        a {
            width: 148px;
            @include for-max-575 {
                width: 85px;
                font-size: 12px;
            }
        }
    }
}

// tournament-display
.tournament-display {
    position: relative;
    &--button {
        position: absolute;
        bottom: 150px;
        left: 25%;
        img {
            @include for-max-1500 {
                width: 80%;
            }
            @include for-max-1300 {
                width: 60%;
            }
            @include for-max-991 {
                width: 40%;
            }
        }
        @include for-max-991 {
            bottom: 90px;
        }
        @include for-max-575 {
            bottom: 20px;
            left: 15%;
        }
        a {
            width: 220px;
            font-weight: bold;
            @include for-max-575 {
                width: 178px;
            }
            &:first-of-type {
                border: 2px solid $text-dark;
            }
            &:last-of-type {
                border: 2px solid $secondery
            }
        }
        .btn-rules {
            @include for-min-992 {
                margin-left: 20px;
            }
        }
    }
    a {
        &:hover {
            color: $text-dark;
        }
    }
}

.tournament-body {
    padding-top: 0;
    padding-bottom: 100px;
    background: $tournament-bg;
    nav {
        display: none;
    }
    .copyright-section {
        background: $tournament-bg;
    }
    .promo-notification {
        display: none;
    }
}

.tournament-content {
    &__top {
        margin-top: 60px;
        margin-bottom: 42px;
        p {
            opacity: .85;
        }
    }
    &__button {
        margin-bottom: 48px;
        a {
            width: 220px;
            margin: auto;
            margin-top: 70px;
            font-weight: bold;
            @include for-max-575 {
                width: 100%;
                margin-top: 40px;
            }
        }
    }
    &__text {
        margin-bottom: 48px;
        ol {
            padding-left: 16px;
            opacity: .85;
            li {
                display: list-item;
                padding: 0;
                margin-bottom: 20px;
            }
            &.no-bullet {
                list-style: none;
            }
        }
        p {
            opacity: .85;
        }
        h6 {
            font-size: 20px;
            font-family: gilroy-bold;
            margin-bottom: 16px;
        }
        &__list {
            li {
                &:nth-child(10) {
                    transform: translate(10px, 0px);
                }
            }
        }
    }
    a {
        &:hover {
            color: $text-dark;
        }
    }
}

.tournament-content__txet {
    p {
        opacity: .85;
    }
}