.trending-section {
    padding-bottom: 150px;
    @include for-max-992 {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 70px;
    }
    @include for-max-575 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .item {
        position: relative;
        border-radius: 8px;
        background: $game-details;
        padding: 6px;
        .trending-image {
            position: relative;
            height: 250px;
            overflow: hidden;
            display: block;
            border-radius: 8px;
            @include for-max-768 {
            }
            img {
                height: 250px;
                transition: all .5s ease-in;
                object-fit: cover;
            }
            &:hover {
                img {
                    transform:  scale(1.1);
                    @include for-max-768 {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &:hover {
            .trending-game--categories {
                transform: translate(0px, 0px);
            }
        }
    }
    .vue-owl-nav {
        position: absolute;
        top: 100px;
        z-index: 99;
        @include for-max-575 {
            top: 120px;
        }
        &.vue-owl-nav-prev {
            left: 20px;
            @include for-max-575 {
                left: 0px;
            }
        }
        &.vue-owl-nav-next {
            right: 20px;
            @include for-max-575 {
                right: 0px;
            }
        }
        button {
            width: 50px;
            height: 50px;
            border: 1px solid $secondery !important;
            background: transparent;
            border-radius: 0 !important;
            transition: all .3s ease-in !important;
            @include for-max-590 {
                width: 35px;
                height: 35px;
            }
            &:hover {
                background: $secondery !important;
                .arrow {
                    color: $text-dark;
                }
            }
            .arrow {
                transition: all .3s ease-in;
                color: $text-light;
            }
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }
    >div {
        span[style] {
            display: block !important;
        }
    }
    .owl-item {
        @include for-max-1199 {
            opacity: 1;
        }
    }
}



.trending-game--categories {
    background: $game-details;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    height: 50px;
    width: 95%;
    bottom: 0;
    transform: translate(0px, 60px);
    transition: all .5s ease-in;
    >div {
        a {
            margin-left: 5px;
        }
    }
}

.home-categories {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.home-platform {
    a {
        margin-right: 10px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}
