.upcoming-section {
    padding-bottom: 150px;
    @include for-max-992 {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 70px;
    }
    @include for-max-575 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .item {
        margin-left: -7px;
        @include for-max-768 {
            margin-left: 0;
        }
        &:hover {
            .upcoming-order {
                visibility: visible;
                opacity: 1;
            }
        }
        .upcoming-image {
            position: relative;
            height: 238px;
            overflow: hidden;
            display: block;
            border-radius: 0;
            img {
                position: absolute;
                left: -75px;
                width: 450px;
                height: 238px;
                transform: skew(21deg, 0deg);
                transition: all .5s ease-in;
                @include for-max-1800 {
                    left: -46px;
                    width: 597px;
                }
                @include for-max-1500 {
                    left: -46px;
                    width: 495px;
                }
                @include for-max-1300 {
                    width: 460px;
                }
                @include for-max-1199 {
                    width: 547px;
                }
                @include for-max-992 {
                    left: -60px;
                    width: 506px;
                }
                @include for-max-768 {
                    transform: skew(0deg, 0deg);
                }
            }
            &:hover {
                img {
                    transform: skew(21deg, 0deg) scale(1.1);
                    @include for-max-768 {
                        transform: skew(0deg, 0deg) scale(1.1);
                    }
                }
            }
        }
    }
    .owl-nav {
        display: none;
    }
    .vue-owl-nav {
        position: absolute;
        top: 100px;
        z-index: 99;
        @include for-max-575 {
            top: 120px;
        }
        &.vue-owl-nav-prev {
            left: 20px;
            @include for-max-575 {
                left: 0px;
            }
        }
        &.vue-owl-nav-next {
            right: 20px;
            @include for-max-575 {
                right: 0px;
            }
        }
        button {
            width: 50px;
            height: 50px;
            transform: skewX(-13deg);
            border: 1px solid $secondery !important;
            background: transparent;
            border-radius: 0 !important;
            transition: all .3s ease-in !important;
            @include for-max-590 {
                width: 35px;
                height: 35px;
                transform: skewX(0deg);
            }
            &:hover {
                background: $secondery !important;
                .arrow {
                    color: $text-dark;
                }
            }
            .arrow {
                transition: all .3s ease-in;
                color: $text-light;
            }
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }
    >div {
        span[style] {
            display: block !important;
        }
    }
    .owl-item {
        @include for-max-1199 {
            opacity: 1;
        }
    }
}

.owl-item {
    opacity: .3;
    &.active {
        opacity: 1;
    }
}

.upcoming-game--name-price,
.upcoming-game--categories {
    margin-left: -2rem;
    margin-right: 8rem;
    @include for-max-900 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.upcoming-game--name-price {
    margin-top: 20px;
    a,
    span {
        font-size: 20px;
    }
    a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.upcoming-game--categories {
    border-top: 1px solid #fff;
    opacity: .5;
    padding-top: 10px;
    margin-top: 10px;
    >div {
        a {
            margin-left: 5px;
        }
    }
}

.owl-upcoming--item {
    position: relative;
    transform: skew(-21deg);
    @include for-max-768 {
        transform: skew(0deg);
    }
}

.upcoming-order {
    bottom: 0px;
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in;
    a {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        text-transform: uppercase;
        @include for-max-900 {
            clip-path: initial;
        }
        &:first-of-type {
            background: $game-details;
            @include for-max-900 {
                margin-right: 0;
                margin-left: 0;
            }
        }
        &:last-of-type {
            background: $secondery;
            transition: all .3s ease-in;
            &:hover {
                color: black;
            }
            @include for-max-900 {
                margin-right: 0;
                margin-left: 0;
            }
        }
        span {
            transform: skew(21deg);
            display: block;
            @include for-max-768 {
                transform: skew(0deg);
            }
        }
    }
}

.set-reminder {
    position: relative;
    width: 50px;
    height: 40px;
    border: 1px solid $secondery;
    background: $game-details;
    color: $text-light;
    i {
        transform: skew(21deg);
        @include for-max-768 {
            transform: skew(0deg);
        }
    }
    &:focus {
        outline: none;
    }
}