.upcoming-section {
    padding-bottom: 150px;
    @include for-max-992 {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 70px;
    }
    @include for-max-575 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .item {
        @include for-max-768 {
            margin-left: 0;
        }
        &:hover {
            .upcoming-order {
                visibility: visible;
                opacity: 1;
            }
        }
        .upcoming-image {
            position: relative;
            height: 238px;
            overflow: hidden;
            display: block;
            border-radius: 0;
            @include for-max-575 {
                height: 150px;
            }
            img {
                height: 238px;
                transition: all .5s ease-in;
                @include for-max-575 {
                    height: 150px;
                }
            }
            &:hover {
                img {
                    transform: scale(1.1);
                    @include for-max-768 {
                        transform:  scale(1.1);
                    }
                }
            }
        }
    }
    .owl-nav {
        display: none;
    }
    .vue-owl-nav {
        position: absolute;
        top: 100px;
        z-index: 99;
        @include for-max-575 {
            top: 70px;
        }
        &.vue-owl-nav-prev {
            left: 20px;
            @include for-max-575 {
                left: 20px;
            }
        }
        &.vue-owl-nav-next {
            right: 20px;
            @include for-max-575 {
                right: 20px;
            }
        }
        button {
            width: 32px;
            height: 32px;
            border: 1px solid $secondery-opa-5 !important;
            background: transparent;
            border-radius: 4px !important;
            transition: all .3s ease-in !important;
            svg {
                path {
                    transition: all .3s ease-in;
                }
            }
            &:hover {
                background: $secondery !important;
                svg {
                    path {
                        fill: $text-dark;
                    }
                }
            }
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }
    >div {
        span[style] {
            display: block !important;
        }
    }
    .owl-item {
        @include for-max-1199 {
            opacity: 1;
        }
    }
}

.owl-item {
    opacity: .3;
    &.active {
        opacity: 1;
    }
    @include for-max-575 {
        opacity: .3 !important;
    }
    &.center {
        @include for-max-575 {
            opacity: 1 !important;
        }
    }
}

.upcoming-game--name-price,
.upcoming-game--categories {
    margin-left: 2rem;
    margin-right: 2rem;
    @include for-max-900 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.upcoming-game--name-price {
    margin-top: 20px;
    a,
    span {
        font-size: 20px;
    }
    a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.upcoming-game--categories {
    border-top: 1px solid #fff;
    opacity: .5;
    padding-top: 10px;
    margin-top: 10px;
    >div {
        a {
            margin-left: 5px;
        }
    }
}

.owl-upcoming--item {
    position: relative;
}

.upcoming-order {
    bottom: 0px;
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in;
    a {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        text-transform: uppercase;
        @include for-max-900 {
            clip-path: initial;
        }
        &:first-of-type {
            background: $game-details;
            @include for-max-900 {
                margin-right: 0;
                margin-left: 0;
            }
        }
        &:last-of-type {
            background: $secondery;
            transition: all .3s ease-in;
            &:hover {
                color: black;
            }
            @include for-max-900 {
                margin-right: 0;
                margin-left: 0;
            }
        }
        span {
            display: block;
        }
    }
}

.set-reminder {
    position: relative;
    width: 50px;
    height: 40px;
    border: 1px solid $secondery;
    background: $game-details;
    color: $text-light;
    &:focus {
        outline: none;
    }
}
