.user-profile-heading {
    position: relative;
    height: 370px;
    display: flex;
    align-items: flex-end;
    @include for-max-991 {
        margin-top: 20px;
    }
    @include for-max-575 {
        height: 250px;
    }
    
    .user-profile-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

    }
    &--name {
        display: flex;
        align-items: center;
       
    }
    &--dp {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 2px solid $text-light;
        @include for-max-575 {
            width: 100px;
            height: 100px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    // account veryfied
    &--account-verified {
        position: absolute;
        bottom: 90px;
        right: 106px;
        @include for-max-991 {
            right: 40px;
            top: 70px;
        }
        &--btn {
            padding: 5px 0;
            transform: skew(-21deg);
            display: inline-block;
            width: 200px;
            text-align: center;
            span {
                transform: skew(21deg);
                display: inline-block;
            }
        }
    }
}
// avatar edit
.avatar-edit {
    position: absolute;
    right: 4px;
    bottom: 15px;
    @include for-max-575 {
        right: 15px;
        bottom: 3px;
    }
    form {
        input {
            display: none;
        }
        label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            border-radius: 100%;
            background: $game-details;
            border: 1px solid $secondery;
            cursor: pointer;
            font-weight: normal;
            transition: all 0.2s ease-in-out;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            // &::after {
            //     content: "";
            //     height: 30px;
            //     width: 30px;
            //     background: url(../img/camera-icon.png);
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     text-align: center;
            //     margin: auto;
            // }
            .camera-icon {
                color: $secondery;
            }
        }
    }
    &--spinner {
        position: absolute;
        bottom: 2px;
        right: 2px;
        background: $game-details;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
// cover photo edit
.cover-edit {
    position: absolute;
    bottom: 20px;
    right: 125px;
    @include for-max-991 {
        top: 10px;
        right: 20px;
        bottom: initial;
    }
    input {
        display: none;
    }
    label {
        position: relative;
        cursor: pointer;
        border: 2px solid $secondery;
        padding: 5px 19px;
        transform: skew(-21deg);
        width: 200px;
        text-align: center;
        .camera-icon,span {
            transform: skew(21deg);
            display: inherit;
            color: $secondery;
        }
    }
}
.users-name {
    margin-left: 20px;
    h3 {
        font-size: 32px;
        font-style: italic;
    }
    h6 {
        font-size: 20px;
    }
}
.user-rating {
    margin-top: -40px;
    margin-left: 3rem;
    @include for-max-575 {
        margin-top: 0;
        margin-left: 0;
    }
    i {
        color: $secondery;
    }
}

.user-profile-details {
    padding-top: 50px;
    padding-bottom: 150px;
    @include for-max-992 {
        // padding-bottom: 150px;
    }
    &--nav {
        flex-direction: column;
       
        @include for-min-1200 {
            margin-right: 27px;
        }
        @include for-max-991 {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-bottom: 40px;
            @include for-max-575 {
                margin-bottom: 20px;
            }
        }
        a {
            color: $gray;
            font-size: 24px;
            border-bottom: 1px solid $gray;
            border-radius: 0 !important;
            padding: 20px 0;
            display: flex;
            align-items: center;
            &:first-of-type {
                padding-top: 0;
            }
            @include for-max-1200 {
                font-size: 20px;
            }
            @include for-max-991 {
                font-size: 14px;
                flex-direction: column;
                align-items: center;
                padding: 0;
            }
            @include for-max-575 {
                font-size: 12px;
            }
            @include for-min-992 {
                &:last-of-type {
                    border-bottom: 0;
                }
            }
            
            img {
                @include for-max-991 {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
            &.active {
                background: transparent !important;
                color: $text-light;
                // border-bottom: 2px solid $text-light;
                img {
                    display: none;
                }
                .img-active {
                    display: inline-block;
                }
            }
            .img-active {
                display: none;
            }
        }
        &--img {
                width: 70px;
            @include for-max-991 {
                height: 50px;
                width: initial;
            }
            img {
                margin-right: 0;
                @include for-max-991 {
                    height: 70%;
                }
            }
        }
    }
    .tab-content {
        margin-left: 57px;
        @include for-max-1200 {
            margin-left: 25px;
        }
        @include for-max-991 {
            margin-left: 0;
        }
    }
}

.over-view {
    table {
        tr {
            &:first-of-type {
                td {
                    @include for-min-1200 {
                        padding-top: 0;
                    }
                }
            }
            &:nth-of-type(2) {
                td {
                    &:last-of-type {
                        text-transform: capitalize;
                    }
                }
            }
            td {
                color: $text-light;
                font-size: 20px;
                @include for-max-1300 {
                    font-size: 18px;
                }
                @include for-max-1200 {
                    font-size: 16px;
                }
                &:nth-child(1) {
                    width: 200px;
                    @include for-max-575 {
                        width: 138px;
                    }
                }
                img {
                    width: 260px;
                    height: 150px;
                }
            }
        }
    }
}

.post-rent {
    .form-group {
        margin-bottom: 25px;
    .custom-file-input ~.custom-file-label {
        border: 1px solid $secondery;
        background: $game-details;
        cursor: pointer;
        border-radius: 5px;
        &::after {
            font-family:  "Font Awesome 5 Free";
			font-weight: 900;
            content: "\f093 \00a0 \00a0 Upload";
            background: $secondery;
            color: $text-dark;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            cursor: pointer;
        }
    }
    input,
    select {
        border: 1px solid $secondery;
        background: $game-details;
        color: $text-light;
        height: 40px;
        font-size: 16px;
    }
    select {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        background: $game-details url(../img/down-arw.png);
        background-repeat: no-repeat;
        background-position: 96% center;
        background-size: 15px;
        option {
            text-transform: capitalize;
        }
        
    }
    [type="date"]::-webkit-inner-spin-button {
        display: none;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
      [type="date"] {
        background:$game-details url(../img/calender.png)  97% 50% no-repeat ;
      }
      label {
          height: 50px;
          font-size: 20px;
          @include for-max-1300 {
              font-size: 18px;
          }
          @include for-max-1200 {
            font-size: 16px;
        }
      }

    }
    .custom-file {
        margin-bottom: 25px;
        label {
            height: initial;
            font-size: 16px;
        }
        input {
            cursor: pointer;
        }
    }
    &--input {
        @include for-min-1200 {
            padding-right: 26px;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            opacity: 0
        }
        .rented-plus {
            position: absolute;
            top: 5px;
            right: 44px;
            cursor: pointer;
        }
        .rented-minus {
            position: absolute;
            top: 19px;
            right: 44px;
            cursor: pointer;
        }
        .rented-plus,
        .rented-minus {
            color: $secondery;
        }
        #autosuggest {
            > div {
                transform: skew(0deg);
                border: none;
                input {
                    border-radius: 5px;
                    font-size: 16px;
                }
            }
            .autosuggest__results-container {
                ul {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        &--platform-input {
            margin-right: 20px;
            input {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            label {
                height: auto !important;
                cursor: pointer;
                font-size: 16px !important;
            }
            
        }
    }
    &--delivery {
        display: flex;
        align-items: center;
        padding-left: 40px;
        @include for-max-575 {
            flex-direction: column;
            padding-left: 70px;
        }
        > span {
            display: flex;
            flex-wrap: wrap;
            @include for-max-575 {
                flex-direction: column;
                width: 100%;
                padding-left: 34px;
            }
            > div {
                flex: 1;
            }
            .platform-error {
                flex-basis: 100%;
                margin-left: -15px;
                @include for-max-575 {
                    width: 100%;
                    
                }
            }
        }
        label {
            font-size: 16px !important;
            display: flex !important;
            align-items: center;
            height: 20px !important;
            cursor: pointer;
            padding-top: 5px;
            &:last-of-type {
                margin-right: 0;
            }
            input {
                width: 20px !important;
                height: 20px !important;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        .custom-radio {
            margin-right: 50px;
            width: 180px;
            @include for-max-1200 {
                width: 100%;
                margin-bottom: 20px;
            }
            &:last-of-type {
                @include for-max-575 {
                    margin-bottom: 0;
                }
            }
        }
        &.platform--delivery {
            @include for-max-575 {
                padding-left: 0;
            }
        }
    }
    .error-message {
        display: inline-block;
        margin-top: 10px;
        &::after {
            top: 2px;
        }
    }
}

.earning-amount {
    table {
        tr {
            td {
                &:first-of-type {
                    width: 75%;
                    padding-left: 0;
                }
                color: $gray;
            }
        }
    }
}
.img-prev {
    img {
        width: 100%;
        // height: 400px;
        // object-fit: cover;
    }
}

.dashboard-content {
    &--rented {
        border: 1px solid $secondery;
        padding: 0 20px;
        position: relative;
        overflow-x: auto;
        width: 837px;
        @include for-max-1450 {
            width: 750px;
        }
        @include for-max-1300 {
            width: 100%;
        }
        &::after {
            content: "";
            height: 80px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: $secondery;
            @include for-max-1300 {
                width: 860px;
            }
        }
        table {
            border-collapse: separate;
            border-spacing: 0px 20px;
            margin-top: -20px;
        
            @include for-max-1300 {
                width: 820px;
            }
            thead {
                tr {
                    height: 80px;
                   
                    td {
                        border: none;
                        color: $text-dark;
                        vertical-align: top;
                        background: $secondery;
                        border-radius: 0;
                        
                    }
                }
            }
            tr {
                td {
                    background: $game-details;
                    color: $text-light;
                    border-top: 1px solid $secondery;
                    border-bottom: 1px solid $secondery;
                    padding: 16px 9px;
                    &:first-of-type {
                        min-width: 145px;
                        border-left: 1px solid $secondery;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                    &:nth-of-type(5) {
                        min-width: 200px;
                    }
                    &:last-of-type {
                        border-right: 1px solid $secondery;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    button {
                        width: 60px;
                        height: 60px;
                        font-size: 12px;
                        background: $secondery;
                        border: none;
                        color: $text-dark;
                    }
                }
            }
        }
    }
    &--offer {
        table {
            tr {
                td {
                    &:nth-of-type(5) {
                        min-width: initial;
                    }
                }
            }
        }
    }
    .flip-clock {
        display: grid;
        grid-template: wrap;
        /* align-items: center; */
        /* justify-content: center; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 55px;
        grid-auto-rows: 55px;
        justify-items: center;
        justify-content: center;
        background: $timer;
        padding: 5px;
        width: 198px;
        height: 120px;
        > span {
            &:last-of-type {
                grid-column-start: 2;
                grid-column-end: 3;
            }
            > span {
                font-size: 1.6rem;
            }
        }
        .flip-clock__slot {
            font-size: 10px;
        }
    }
}

.dashboard-tab-button {
    button {
        border: 1px solid $secondery;
        background: $text-dark;
        padding: 10px 50px;
        border-radius: 10px;
        color: $secondery;
        display: flex;
        align-items: center;
        @include for-max-768 {
            padding: 10px 30px;
        }
        @include for-max-575 {
            padding: 8px 10px;
            font-size: 15px;
            border-radius: 5px;
        }
        img {
            margin-right: 15px;
            @include for-max-575 {
                width: 25px;
                margin-right: 5px;
            }
        }
        .active-black {
            display: none;
        }
        .active-yellow {
            display: inline-block;
        }
        &.active {
            background: $secondery;
            color: $text-dark;
            .active-black {
                display: inline-block;
            }
            .active-yellow {
                display: none;
            }
        }
        &:first-of-type {
            margin-right: 20px;
            @include for-max-575 {
                margin-right: 10px;
            }
        }
        &:focus {
            outline: none;
        }
    }
}

// edit profile
.edit-profile {
    input,
    select {
        background: $game-details;
        border: 0.5px solid $secondery;
        height: 40px;
        color: $text-light;
        font-size: 16px;
    }
    select {
        background: $game-details url(../img/down-arw.png);
        background-repeat: no-repeat;
        background-position: 96% center;
        background-size: 15px;
    }
    [type="date"]::-webkit-inner-spin-button {
        display: none;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
      [type="date"] {
        background:$game-details url(../img/calender.png)  97% 50% no-repeat ;
      }
      .custom-file-input ~.custom-file-label {
        border: 1px solid $secondery;
        background: $game-details;
        cursor: pointer;
        font-size: 16px;
        overflow: hidden;
        border-radius: 5px;
        &::after {
            font-family:  "Font Awesome 5 Free";
			font-weight: 900;
            content: "\f093 \00a0 \00a0 Upload";
            background: $secondery;
            color: $text-dark;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            cursor: pointer;
        }
    }
    label {
        font-size: 20px;
        @include for-max-1300 {
            font-size: 18px;
        }
        @include for-max-1200 {
            font-size: 16px;
        }
        @include for-max-991 {
            font-size: 18px;
        }
    }
    .error-message {
        top: 8px;
        @include for-max-575 {
            top: 11px;
        }
    }
}
.edit--input {
    padding-right: 90px;
    @include for-max-1200 {
        padding-right: 0;
    }
    @include for-max-575 {
        padding-right: 15px;
    }
}
// No post found
.no-post-found-card {
    height: 200px;
    width: 100%;
    background: $primary;
    border: 1px solid $secondery;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    h5 {
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
        color: $secondery;
    }
}
