// margin top
// incresing:5px
.mt-a-1 {
    margin-top: 0.313rem;
}

.mt-a-2 {
    margin-top: 0.625rem;
}

.mt-a-3 {
    margin-top: 0.938rem;
}

.mt-a-4 {
    margin-top: 1.25rem;
}

.mt-a-5 {
    margin-top: 1.875rem;
}

.mt-a-6 {
    margin-top: 2.188rem;
}

.mt-a-7 {
    margin-top: 2.5rem;
}

.mt-a-8 {
    margin-top: 2.813rem;
}

.mt-a-9 {
    margin-top: 3.125rem;
}

.mt-a-10 {
    margin-top: 3.438rem;
}

.mt-a-11 {
    margin-top: 3.75rem;
}

.mt-a-12 {
    margin-top: 4.063rem;
}

.mt-a-13 {
    margin-top: 4.375rem;
}

.mt-a-14 {
    margin-top: 4.688rem;
}

.mt-a-15 {
    margin-top: 5rem;
}

// incresinf:10px
.mt-a-16 {
    margin-top: 5.625rem;
}

.mt-a-17 {
    margin-top: 6.25rem;
}

.mt-a-18 {
    margin-top: 6.875rem;
}

.mt-a-19 {
    margin-top: 7.5rem;
}

.mt-a-20 {
    margin-top: 8.75rem;
}

.mt-a-21 {
    margin-top: 9.375rem;
}

.mt-a-22 {
    margin-top: 10rem;
}

.mt-a-23 {
    margin-top: 10.625rem;
}

.mt-a-24 {
    margin-top: 11.25rem;
}

.mt-a-25 {
    margin-top: 11.875rem;
}

.mt-a-26 {
    margin-top: 12.5rem;
}

// incresing 20px
.mt-a-27 {
    margin-top: 13.75rem;
}

.mt-a-28 {
    margin-top: 15rem;
}

.mt-a-29 {
    margin-top: 16.25rem;
}

.mt-a-30 {
    margin-top: 17.5rem;
}

.mt-a-31 {
    margin-top: 18.75rem;
}

.mt-a-32 {
    margin-top: 20rem;
}

.mt-a-33 {
    margin-top: 21.25rem;
}

.mt-a-34 {
    margin-top: 22.5rem;
}

.mt-a-35 {
    margin-top: 23.75rem;
}

.mt-a-36 {
    margin-top: 25rem;
}

// margin left
// incresing:5px
.ml-a-1 {
    margin-left: 0.313rem;
}

.ml-a-2 {
    margin-left: 0.625rem;
}

.ml-a-3 {
    margin-left: 0.938rem;
}

.ml-a-4 {
    margin-left: 1.25rem;
}

.ml-a-5 {
    margin-left: 1.875rem;
}

.ml-a-6 {
    margin-left: 2rem;
}

.ml-a-7 {
    margin-left: 2.5rem;
}

.ml-a-8 {
    margin-left: 2.813rem;
}

.ml-a-9 {
    margin-left: 3.125rem;
}

.ml-a-10 {
    margin-left: 3.438rem;
}

.ml-a-11 {
    margin-left: 3.75rem;
}

.ml-a-12 {
    margin-left: 4.063rem;
}

.ml-a-13 {
    margin-left: 4.375rem;
}

.ml-a-14 {
    margin-left: 4.688rem;
}

.ml-a-15 {
    margin-left: 5rem;
}

// incresing:10px
.ml-a-16 {
    margin-left: 5.625rem;
}
.ml-a-sm-16 {
    @include for-min-575 {
        margin-left: 5.625rem;
    }
}

.ml-a-17 {
    margin-left: 6rem;
}
.ml-a-sm-17 {
    @include for-min-575 {
        margin-left: 6rem;
    }
}

.ml-a-18 {
    margin-left: 6.875rem;
}

.ml-a-19 {
    margin-left: 7.5rem;
}

.ml-a-20 {
    margin-left: 8.75rem;
}

.ml-a-21 {
    margin-left: 9.375rem;
}

.ml-a-22 {
    margin-left: 10rem;
}

.ml-a-23 {
    margin-left: 10.625rem;
}

.ml-a-24 {
    margin-left: 11.25rem;
}

.ml-a-25 {
    margin-left: 11.875rem;
}

.ml-a-26 {
    margin-left: 12.5rem;
}

// margin-left minus
.ml--16 {
    margin-left: -16px;
}

.ml--28 {
    margin-left: -28px;
}

.ml--30 {
    margin-left: -30px;
}

// margin right
// incresing:5px
.mr-a-1 {
    margin-right: 0.313rem;
}

.mr-a-2 {
    margin-right: 0.625rem;
}

.mr-a-3 {
    margin-right: 0.938rem;
}

.mr-a-4 {
    margin-right: 1.25rem;
}

.mr-a-5 {
    margin-right: 1.875rem;
}

.mr-a-6 {
    margin-right: 2rem;
}

.mr-a-7 {
    margin-right: 2.5rem;
}

.mr-a-8 {
    margin-right: 2.813rem;
}

.mr-a-9 {
    margin-right: 3.125rem;
}

.mr-a-10 {
    margin-right: 3.438rem;
}

.mr-a-11 {
    margin-right: 3.75rem;
}

.mr-a-12 {
    margin-right: 4.063rem;
}

.mr-a-13 {
    margin-right: 4.375rem;
}

.mr-a-14 {
    margin-right: 4.688rem;
}

.mr-a-15 {
    margin-right: 5rem;
}

// incresing:10px
.mr-a-16 {
    margin-right: 5.625rem;
}

.mr-a-17 {
    margin-right: 6.25rem;
}

.mr-a-18 {
    margin-right: 6.875rem;
}

.mr-a-19 {
    margin-right: 7.5rem;
}

.mr-a-20 {
    margin-right: 8.75rem;
}

.mr-a-21 {
    margin-right: 9.375rem;
}

.mr-a-22 {
    margin-right: 10rem;
}

.mr-a-23 {
    margin-right: 10.625rem;
}

.mr-a-24 {
    margin-right: 11.25rem;
}

.mr-a-25 {
    margin-right: 11.875rem;
}

.mr-a-26 {
    margin-right: 12.5rem;
}

// margin bottom
// incresing:5px
.mb-a-1 {
    margin-bottom: 0.313rem;
}

.mb-a-2 {
    margin-bottom: 0.625rem;
}

.mb-a-3 {
    margin-bottom: 0.938rem;
}

.mb-a-4 {
    margin-bottom: 1.25rem;
}

.mb-a-5 {
    margin-bottom: 1.875rem;
}

.mb-a-6 {
    margin-bottom: 2.188rem;
}

.mb-a-7 {
    margin-bottom: 2.5rem;
    @include for-max-992 {
        margin-bottom: 1.25rem;
    }
}

.mb-a-8 {
    margin-bottom: 2.813rem;
}

.mb-a-9 {
    margin-bottom: 3.125rem;
}

.mb-a-10 {
    margin-bottom: 3.438rem;
}

.mb-a-11 {
    margin-bottom: 3.75rem;
}

.mb-a-12 {
    margin-bottom: 4.063rem;
}

.mb-a-13 {
    margin-bottom: 4.375rem;
}

.mb-a-14 {
    margin-bottom: 4.688rem;
}

.mb-a-15 {
    margin-bottom: 5rem;
}

// incresing:10px
.mb-a-16 {
    margin-bottom: 5.625rem;
}

.mb-a-17 {
    margin-bottom: 6.25rem;
}

.mb-a-18 {
    margin-bottom: 6.875rem;
}

.mb-a-19 {
    margin-bottom: 7.5rem;
}

.mb-a-20 {
    margin-bottom: 8.75rem;
}

.mb-a-21 {
    margin-bottom: 9.375rem;
}

.mb-a-22 {
    margin-bottom: 10rem;
}

.mb-a-23 {
    margin-bottom: 10.625rem;
}

.mb-a-24 {
    margin-bottom: 11.25rem;
}

.mb-a-25 {
    margin-bottom: 11.875rem;
}

.mb-a-26 {
    margin-bottom: 12.5rem;
}

// incresing 20px
.mb-a-27 {
    margin-bottom: 13.75rem;
}

.mb-a-28 {
    margin-bottom: 15rem;
}

.mb-a-29 {
    margin-bottom: 16.25rem;
}

.mb-a-30 {
    margin-bottom: 17.5rem;
}

.mb-a-31 {
    margin-bottom: 18.75rem;
}

.mb-a-32 {
    margin-bottom: 20rem;
}

.mb-a-33 {
    margin-bottom: 21.25rem;
}

.mb-a-34 {
    margin-bottom: 22.5rem;
}

.mb-a-35 {
    margin-bottom: 23.75rem;
}

.mb-a-36 {
    margin-bottom: 25rem;
}

// padding left and right
.mx-a-1 {
    margin-left: 0.313rem;
    margin-right: 0.313rem;
}

.mx-a-2 {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.mx-a-3 {
    margin-left: 0.825rem;
    margin-right: 0.825rem;
}

.mx-a-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-a-5 {
    margin-left: 1.625rem;
    margin-right: 1.625rem;
}

.mx-a-6 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-a-7 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.mx-a-8 {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

// padding top and bottom
.my-a-1 {
    margin-top: 0.313rem;
    margin-bottom: 0.313rem;
}

.my-a-2 {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.my-a-3 {
    margin-top: 0.825rem;
    margin-bottom: 0.825rem;
}

.my-a-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-a-5 {
    margin-top: 1.625rem;
    margin-bottom: 1.625rem;
}

.my-a-6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-a-7 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.my-a-8 {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.m-a-auto {
    margin: auto;
}

// padding top
// incresing:5px
.pt-a-1 {
    padding-top: 0.313rem;
}

.pt-a-2 {
    padding-top: 0.625rem;
}

.pt-a-3 {
    padding-top: 0.938rem;
}

.pt-a-4 {
    padding-top: 1.25rem;
}

.pt-a-5 {
    padding-top: 1.875rem;
}

.pt-a-6 {
    padding-top: 2rem;
}

.pt-a-7 {
    padding-top: 2.5rem;
}

.pt-a-8 {
    padding-top: 2.813rem;
}

.pt-a-9 {
    padding-top: 3.125rem;
}

.pt-a-10 {
    padding-top: 3.438rem;
}

.pt-a-11 {
    padding-top: 3.75rem;
}

.pt-a-12 {
    padding-top: 4.063rem;
}

.pt-a-13 {
    padding-top: 4.375rem;
}

.pt-a-14 {
    padding-top: 4.688rem;
}

.pt-a-15 {
    padding-top: 5rem;
}

// incresing:10px
.pt-a-16 {
    padding-top: 5.625rem;
}

.pt-a-17 {
    padding-top: 6.25rem;
}

.pt-a-18 {
    padding-top: 6.875rem;
}

.pt-a-19 {
    padding-top: 7.5rem;
}

.pt-a-20 {
    padding-top: 8.75rem;
}

.pt-a-21 {
    padding-top: 9.375rem;
}

.pt-a-22 {
    padding-top: 10rem;
}

.pt-a-23 {
    padding-top: 10.625rem;
}

.pt-a-24 {
    padding-top: 11.25rem;
}

.pt-a-25 {
    padding-top: 11.875rem;
}

.pt-a-26 {
    padding-top: 12.5rem;
}

// incresing 20px
.pt-a-27 {
    padding-top: 13.75rem;
}

.pt-a-28 {
    padding-top: 15rem;
}

.pt-a-29 {
    padding-top: 16.25rem;
}

.pt-a-30 {
    padding-top: 17.5rem;
}

.pt-a-31 {
    padding-top: 18.75rem;
}

.pt-a-32 {
    padding-top: 20rem;
}

.pt-a-33 {
    padding-top: 21.25rem;
}

.pt-a-34 {
    padding-top: 22.5rem;
}

.pt-a-35 {
    padding-top: 23.75rem;
}

.pt-a-36 {
    padding-top: 25rem;
}

// margin left
// incresing:5px
.pl-a-1 {
    padding-left: 0.313rem;
}

.pl-a-2 {
    padding-left: 0.625rem;
}

.pl-a-3 {
    padding-left: 0.938rem;
}

.pl-a-4 {
    padding-left: 1.25rem;
}

.pl-a-5 {
    padding-left: 1.875rem;
}

.pl-a-6 {
    padding-left: 2rem;
}

.pl-a-7 {
    padding-left: 2.5rem;
}

.pl-a-8 {
    padding-left: 2.813rem;
}

.pl-a-9 {
    padding-left: 3.125rem;
}

.pl-a-10 {
    padding-left: 3.438rem;
}

.pl-a-11 {
    padding-left: 3.75rem;
}

.pl-a-12 {
    padding-left: 4.063rem;
}

.pl-a-13 {
    padding-left: 4.375rem;
}

.pl-a-14 {
    padding-left: 4.688rem;
}

.pl-a-15 {
    padding-left: 5rem;
}

// incresing:10px
.pl-a-16 {
    padding-left: 5.625rem;
}

.pl-a-17 {
    padding-left: 6.25rem;
}

.pl-a-18 {
    padding-left: 6.875rem;
}

.pl-a-19 {
    padding-left: 7.5rem;
}

.pl-a-20 {
    padding-left: 8.75rem;
}

.pl-a-21 {
    padding-left: 9.375rem;
}

.pl-a-22 {
    padding-left: 10rem;
}

.pl-a-23 {
    padding-left: 10.625rem;
}

.pl-a-24 {
    padding-left: 11.25rem;
}

.pl-a-25 {
    padding-left: 11.875rem;
}

.pl-a-26 {
    padding-left: 12.5rem;
}

// margin right
// incresing:5px
.pr-a-1 {
    padding-right: 0.313rem;
}

.pr-a-2 {
    padding-right: 0.625rem;
}

.pr-a-3 {
    padding-right: 0.938rem;
}

.pr-a-4 {
    padding-right: 1.25rem;
}

.pr-a-5 {
    padding-right: 1.875rem;
}

.pr-a-6 {
    padding-right: 2rem;
}

.pr-a-7 {
    padding-right: 2.5rem;
}

.pr-a-8 {
    padding-right: 2.813rem;
}

.pr-a-9 {
    padding-right: 3.125rem;
}

.pr-a-10 {
    padding-right: 3.438rem;
}

.pr-a-11 {
    padding-right: 3.75rem;
}

.pr-a-12 {
    padding-right: 4.063rem;
}

.pr-a-13 {
    padding-right: 4.375rem;
}

.pr-a-14 {
    padding-right: 4.688rem;
}

.pr-a-15 {
    padding-right: 5rem;
}

// incresing:10px
.pr-a-16 {
    padding-right: 5.625rem;
}

.pr-a-17 {
    padding-right: 6.25rem;
}

.pr-a-18 {
    padding-right: 6.875rem;
}

.pr-a-19 {
    padding-right: 7.5rem;
}

.pr-a-20 {
    padding-right: 8.75rem;
}

.pr-a-21 {
    padding-right: 9.375rem;
}

.pr-a-22 {
    padding-right: 10rem;
}

.pr-a-23 {
    padding-right: 10.625rem;
}

.pr-a-24 {
    padding-right: 11.25rem;
}

.pr-a-25 {
    padding-right: 11.875rem;
}

.pr-a-26 {
    padding-right: 12.5rem;
}

// margin bottom
// incresing:5px
.pb-a-1 {
    padding-bottom: 0.313rem;
}

.pb-a-2 {
    padding-bottom: 0.625rem;
}

.pb-a-3 {
    padding-bottom: 0.938rem;
}

.pb-a-4 {
    padding-bottom: 1.25rem;
}

.pb-a-5 {
    padding-bottom: 1.875rem;
}

.pb-a-6 {
    padding-bottom: 2.188rem;
}

.pb-a-7 {
    padding-bottom: 2.5rem;
}

.pb-a-8 {
    padding-bottom: 2.813rem;
}

.pb-a-9 {
    padding-bottom: 3.125rem;
}

.pb-a-10 {
    padding-bottom: 3.438rem;
}

.pb-a-11 {
    padding-bottom: 3.75rem;
}

.pb-a-12 {
    padding-bottom: 4.063rem;
}

.pb-a-13 {
    padding-bottom: 4.375rem;
}

.pb-a-14 {
    padding-bottom: 4.688rem;
}

.pb-a-15 {
    padding-bottom: 5rem;
}

// incresing:10px
.pb-a-16 {
    padding-bottom: 5.625rem;
}

.pb-a-17 {
    padding-bottom: 6.25rem;
}

.pb-a-18 {
    padding-bottom: 6.875rem;
}

.pb-a-19 {
    padding-bottom: 7.5rem;
}

.pb-a-20 {
    padding-bottom: 8.75rem;
}

.pb-a-21 {
    padding-bottom: 9.375rem;
}

.pb-a-22 {
    padding-bottom: 10rem;
}

.pb-a-23 {
    padding-bottom: 10.625rem;
}

.pb-a-24 {
    padding-bottom: 11.25rem;
}

.pb-a-25 {
    padding-bottom: 11.875rem;
}

.pb-a-26 {
    padding-bottom: 12.5rem;
}

// incresing 20px
.pb-a-27 {
    padding-bottom: 13.75rem;
}

.pb-a-28 {
    padding-bottom: 15rem;
}

.pb-a-29 {
    padding-bottom: 16.25rem;
}

.pb-a-30 {
    padding-bottom: 17.5rem;
}

.pb-a-31 {
    padding-bottom: 18.75rem;
}

.pb-a-32 {
    padding-bottom: 20rem;
}

.pb-a-33 {
    padding-bottom: 21.25rem;
}

.pb-a-34 {
    padding-bottom: 22.5rem;
}

.pb-a-35 {
    padding-bottom: 23.75rem;
}

.pb-a-36 {
    padding-bottom: 25rem;
}

// padding left and right
.px-a-1 {
    padding-left: 0.313rem;
    padding-right: 0.313rem;
}

.px-a-2 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.px-a-3 {
    padding-left: 0.825rem;
    padding-right: 0.825rem;
}

.px-a-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-a-5 {
    padding-left: 1.625rem;
    padding-right: 1.625rem;
}

.px-a-6 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-a-7 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.px-a-8 {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

// padding top and bottom
.py-a-1 {
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
}

.py-a-2 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.py-a-3 {
    padding-top: 0.825rem;
    padding-bottom: 0.825rem;
}

.py-a-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-a-5 {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
}

.py-a-6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-a-7 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.py-a-8 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

// for position relative and absolute right left
// right
.right--1 {
    right: -1px;
}

.right-0 {
    right: 0;
}

.right-2 {
    right: 2px;
}

.right-4 {
    right: 4px;
}

.right-6 {
    right: 6px;
}

.right-8 {
    right: 8px;
}

.right-10 {
    right: 10px;
}

.right-12 {
    right: 12px;
}

.right-14 {
    right: 14px;
}
.right-16 {
    right: 16px;
}
.right-18 {
    right: 18px;
}
.right-20 {
    right: 20px;
}

// left
.left-0 {
    left: 0;
}

.left-2 {
    left: 2px;
}

.left-4 {
    left: 4px;
}

.left-6 {
    left: 6px;
}

.left-8 {
    left: 8px;
}

.left-10 {
    left: 10px;
}

.left-12 {
    left: 12px;
}

.left-14 {
    left: 14px;
}

// top
.top--1 {
    top: -1px;
}

.top-0 {
    top: 0;
}

.top-2 {
    top: 2px;
}

.top-4 {
    top: 4px;
}

.top-6 {
    top: 6px;
}

.top-8 {
    top: 8px;
}

.top-10 {
    top: 10px;
}

.top-12 {
    top: 12px;
}

.top-14 {
    top: 14px;
}

.top-20 {
    top: 20px;
}

.top-50 {
    top: 50px;
}
.top-full {
    top: 100%;
}

// bottom
.bottom-0 {
    bottom: 0;
}

.bottom-2 {
    bottom: 2px;
}

.bottom-4 {
    bottom: 4px;
}

.bottom-6 {
    bottom: 6px;
}

.bottom-8 {
    bottom: 8px;
}

.bottom-10 {
    bottom: 10px;
}

.bottom-12 {
    bottom: 12px;
}

.bottom-14 {
    bottom: 14px;
}

.bottom-20 {
    bottom: 20px;
}

.bottom-50 {
    bottom: 50px;
}

// ******************Border Radius***************//
.br-0 {
    border-radius: 0;
}

.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

.br-50 {
    border-radius: 50%;
}

.br-25 {
    border-radius: 25px;
}

// ******************Border ***************//
.border-0 {
    border: none;
}

.border-1 {
    border: 1px solid;
}

.border-2 {
    border: 2px solid;
}

.border-3 {
    border: 3px solid;
}
.border-secondery {
    border-color: $secondery;
}

.secondery-border {
    border: 1px solid $secondery;
}

.gray-header-border {
    border: 1px solid $gray-header;
}

.success-border {
    border-color: $success-border;
}

.danger-border {
    border-color: $danger-border;
}

.warning-border {
    border-color: $secondery;
}

// ******************Color***************//
.gamehub-danger {
    color: $gamehub_danger;
}
.primary-text {
    color: $primary;
}
.gray-text {
    color: $gray;
}

.gamehub-success {
    color: $game-rating;
}

.text-black {
    color: $text-dark;
}
.text-badge {
    color: $cart-badge;
}

// ******************Background***************//
.bg-secondery {
    background: $secondery;
}
.primary-bg {
    background: $primary;
}

.bg-game-details {
    background: $game-details;
}

.gray-header {
    background: $gray-header;
}

.game-rent-bg {
    background: $game-rent-alert;
}

// **************Opacity***********//
.gamehub-warning-bg {
    background: $gamehub-warning-alert;
}

.opa-1 {
    opacity: .1;
}

.opa-2 {
    opacity: .2;
}

.opa-3 {
    opacity: .3;
}

.opa-4 {
    opacity: .4;
}

.opa-5 {
    opacity: .5;
}

.opa-6 {
    opacity: .6;
}

.opa-7 {
    opacity: .7;
}

.opa-8 {
    opacity: .8;
}

.opa-9 {
    opacity: .9;
}

.opa-10 {
    opacity: 1
}

// font size
.f-s-10 {
    font-size: 10px;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-14 {
    font-size: 14px;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-18 {
    font-size: 18px;
}

.f-s-20 {
    font-size: 20px;
}

.f-s-22 {
    font-size: 22px;
}

.f-s-24 {
    font-size: 24px;
}

.f-s-26 {
    font-size: 26px;
}

.f-s-28 {
    font-size: 28px;
}

.f-s-30 {
    font-size: 30px;
}

.f-s-32 {
    font-size: 32px;
}

// ********color*********//
.account-not-verified {
    background: $account-not-verified;
    border: 2px solid $account-not-verified;
}

.account-verified {
    background: $account-verified;
    border: 2px solid $account-verified;
    padding-left: 30px !important;
    pointer-events: none;
    cursor: default;
    &::before {
        border: 1px solid $text-light;
        border-width: 3px 2px 0 0;
        position: absolute;
        left: 14px;
        top: 9px;
        height: 13px;
        width: 18px;
        transform: rotate(125deg);
        content: "";
        margin-right: 10px;
        @include for-max-575 {
            top: 7px;
        }
    }
}

.text-secondery {
    color: $secondery !important;
}

// **************ul***********//
ul {
    list-style: none;
}

// **************ul***********//
// **************ol***********//
ol {
    li {
        display: list-item;
    }
}

// **************ol***********//
a {
    text-decoration: none;
    color: $text-light;
    transition: all .3s ease-in;
}

a:hover {
    text-decoration: none;
    color: $secondery;
}

html {
    scroll-behavior: smooth;
}

// **************Font family***********//
.gil-bold {
    @include gil-bold;
}

.gil-medium {
    @include gil-medium;
}

.gil-regular {
    @include gil-regular;
}

// pointer events
.pe-none {
    pointer-events: none;
}

// **************z-index***********//
.z-index-9 {
    z-index: 9;
}

.z-index-99 {
    z-index: 99;
}

.z-index-999 {
    z-index: 999;
}

// height
.h-0 {
    height: 0;
}

.h-100 {
    height: 100%;
}

.h-25 {
    height: 25px !important;
}

.h-30 {
    height: 30px !important;
}

.h-40 {
    height: 40px !important;
}

.h-48-32 {
    height: 48px;
    @include for-max-575 {
        height: 32px;
    }
}

.h-48 {
    height: 48px !important;
}

.h-50 {
    height: 50px !important;
}

.h-60 {
    height: 60px !important;
}

.h-70 {
    height: 70px !important;
}

.h-80 {
    height: 80px !important;
}

.h-90 {
    height: 90px !important;
}
.h-100px {
    height: 100px;
}

// width
.w-fit {
    width: fit-content;
}

.w-40 {
    width: 40px !important;
}

.w-50px {
    width: 50px !important;
}

.w-60 {
    width: 60px !important;
}

.w-70 {
    width: 70px !important;
}

.w-80 {
    width: 80px !important;
}

.w-90 {
    width: 90px !important;
}
.w-100px {
    width: 100px;
}
.max-368 {
    max-width: 368px;
}
.max-400 {
    max-width: 400px;
}
.w-148-100 {
    width: 148px;
    @include for-max-575 {
        width: 100px;
    }
}

.w-172 {
    width: 172px;
}

.w-200 {
    width: 200px !important;
}
.w-300 {
    width: 300px;
}
.w-380 {
    width: 380px;
}
.w-sm-400 {
    @include for-min-575 {
        width: 400px;
    }
}
.w-full {
    width: 100%;
}
.max-md-760 {
    @include for-min-992 {
        max-width: 760px;
    }
}

// %
.w-full {
    width: 100%;
}
.w-lg-75 {
    @include for-min-1200 {
        width: 75%;
    }
}

// text-area
textarea {
    &:focus {
        background: $secondery;
        color: $text-light;
        @include gil-medium;
        opacity: 1;
    }
}

// text select color
::selection {
    background-color: $secondery;
    color: $game-details;
}

.newsroom-date {
    color: $matterhorn;
}

// custom radio circle field for gamehub
.custom-control-input:checked~.custom-control-label::before {
    color: $game-details !important;
    border-color: $secondery !important;
    background-color: $secondery !important;
}

.custom-control-input:checked~.custom-control-label::after {
    background: $input-bg !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    top: 7px !important;
    left: -21px !important;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background: transparent;
    border-color: $secondery;
}

input::placeholder {
    color: $gray;
}

// input auto fill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $game-details inset !important;
    -webkit-text-fill-color: $text-light !important;
}

// table
table {
    thead {
        tr {
            td,
            th {
                @include gil-bold;
            }
        }
    }
}

// MOdal clode button
// .close-modal {
//     position: absolute;
//     right: 18px;
//     top: 18px;
//     width: 20px;
//     height: 20px;
//     border: 1px solid $secondery !important;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: all .3s ease-in;
//     padding: 0 !important;
//     @include for-max-575 {
//         right: 16px;
//         top: 16px;
//     }
//     &::after,
//     &::before {
//         content: "";
//         width: 12px;
//         height: 2px;
//         background: $secondery;
//         display: block;
//         position: absolute;
//         left: 3px;
//     }
//     &::after {
//         transform: rotate(45deg);
//     }
//     &::before {
//         transform: rotate(135deg);
//     }
// }
// x-ixon
.x-icon {
    position: relative;
    margin-top: 11px;
    display: block;
    margin-right: 20px;
    &::after,
    &::before {
        content: "";
        width: 12px;
        height: 2px;
        background: $primary;
        display: block;
        position: absolute;
        left: 3px;
    }
    &::after {
        transform: rotate(45deg);
    }
    &::before {
        transform: rotate(135deg);
    }
}

// content heading
.content-heading {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 47px;
    margin-top: 99px;
}

// section heading 
.section-heading {
    margin-bottom: 85px;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    @include for-min-992 {
        margin-bottom: 85px;
        font-size: 40px;
    }
    @include for-max-575 {
        margin-bottom: 30px;
    }
}

//   input default arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="date"] {
    background: $game-details url(../img/calender.png) 97% 50% no-repeat;
}

select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px $secondery inset !important;
    color: $text-dark;
    background: $secondery;
}

// select option
select {
    option {
        font-family: roboto;
    }
}

// All slider icon hover
.owl-nav {
    button {
        .arrow {
            transition: all .3s ease-in;
        }
        &:hover {
            .arrow {
                color: $primary;
            }
        }
    }
}

// game hover effect
.game-card-hover-outer {
    position: relative;
    display: block;
    // after
    // before
    &::after,
    &::before {
        content: "";
        width: 0;
        height: 4px;
        position: absolute;
        transition: all 0.5s ease-in;
        background: $secondery;
        @include for-max-575 {
            transition: all 0.3s ease-in;
        }
    }
    &::before {
        right: 0;
        top: 0;
    }
    &::after {
        left: 0;
        bottom: 0;
    }
    // .game-card
    .game-card-hover-inner {
        &::after,
        &::before {
            content: "";
            width: 4px;
            height: 0;
            position: absolute;
            transition: all 0.5s ease-in;
            background: $secondery;
            @include for-max-575 {
                transition: all 0.3s ease-in;
            }
        }
        &::before {
            left: 0;
            bottom: 0;
        }
        &::after {
            right: 0;
            top: 0;
        }
    }
    &:hover {
        color: inherit;
        &::after,
        &::before {
            width: 100%;
        }
        .game-card-hover-inner {
            &::after,
            &::before {
                height: 100%;
            }
        }
    }
}

// hover
.secondery-hover {
    transition: all .3s ease-in;
    &:hover {
        background: $secondery;
        a {
            color: $text-dark;
        }
    }
    a {
        &:hover {
            color: $text-dark !important;
        }
    }
}
.primary-text-hover {
    &:hover {
        color: $primary;
    }
}

// checkbox custom
.checkbox-parents {
    position: relative;
    &--input {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 1rem;
        height: 1.25rem;
        opacity: 0;
        &:checked {
            &~.checkbox-parents--label {
                &::after {
                    // border-color: red;
                    // background: red;
                }
                &::before {
                    border: solid $secondery;
                    border-width: 0 0px 2px 2px;
                    transform: rotate(-45deg);
                    top: 9px;
                    background: transparent;
                    width: 10px;
                    height: 5px;
                    left: -26px;
                    box-shadow: none;
                    z-index: 9;
                }
            }
        }
    }
    &--label {
        position: relative;
        cursor: pointer;
        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            left: -31px;
            top: 2px;
        }
        &::after {
            border: 1px solid $secondery;
            background: $game-details;
        }
    }
}

// Animation
@keyframes shake-animation {
    0% {
        transform: translate(0, 0)
    }
    1.78571% {
        transform: translate(5px, 0)
    }
    3.57143% {
        transform: translate(0, 0)
    }
    5.35714% {
        transform: translate(5px, 0)
    }
    7.14286% {
        transform: translate(0, 0)
    }
    8.92857% {
        transform: translate(5px, 0)
    }
    10.71429% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, 0)
    }
}

.shake-infinite {
    animation: shake-animation 3s ease infinite;
    transform-origin: 50% 50%;
}

// flex
.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

// After
.no-after {
    &::after {
        display: none;
    }
}

// transition ease in
.transition-3 {
    transition: all .3s ease-in;
}

.transition-5 {
    transition: all .5s ease-in;
}

.transition-7 {
    transition: all .7s ease-in;
}

.transition-9 {
    transition: all .9s ease-in;
}

// switch button
.toggle-switch {
    height: 18px;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 80px;
    cursor: pointer;
    width: 40px;
    label,
    >span {
        line-height: 20px;
        height: 20px;
        vertical-align: middle;
    }
    // span
    >span {
        position: absolute;
        left: -50px;
        width: 100%;
        margin: 0;
        padding-right: 50px;
        text-align: left;
        white-space: nowrap;
        &::before {
            content: '';
            display: block;
            width: 48px;
            height: 24px;
            position: absolute;
            left: 50px;
            top: -2px;
            background: $inactive-toggle;
            border: .5px solid $inactive-toggle;
            box-shadow: $toggle-shadow;
            border-radius: 30px;
            transition: all 0.2s ease-out;
            @include for-max-575 {
                left: -30px;
                top: 26px;
            }
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            display: block;
            width: 50%;
            margin-left: 50px;
            text-align: left;
            font-size: 0.9em;
            width: 100%;
            left: -78px;
            top: -1px;
            opacity: 0;
            user-select: none;
            // display: none;
            &:first-of-type {
                color: #ccc;
                opacity: 1;
                left: -78px;
            }
        }
    }
    // label
    // input
    input {
        position: absolute;
        opacity: 0;
        z-index: 5;
        &:focus~a {
            outline: none;
        }
        &:focus+label {
            outline: none;
        }
        &:checked~.toggle-ball {
            left: 100%;
            margin-left: -14px;
            background: $active-toggle-ball;
            @include for-max-575 {
                left: -40px;
            }
        }
        &:checked~span {
            &:before {
                background: $secondery;
            }
            span {
                &:first-of-type {
                    opacity: 0;
                }
                &:last-of-type {
                    opacity: 1;
                }
            }
        }
    }
    // end input
    // a
    .toggle-ball {
        position: absolute;
        z-index: 4;
        display: block;
        height: 20px;
        left: 2px;
        width: 20px;
        background: $text-light;
        border-radius: 100%;
        transition: all 0.2s ease-out;
        @include for-max-575 {
            top: 28px;
            left: -77px;
        }
    }
}

.toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Rejected
.rejected,
.pending,
.completed {
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    &::after {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        content: '!';
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transform: rotate( 180deg);
        margin-left: 12px;
        font-weight: normal;
        position: absolute;
        right: -40px;
    }
}

.rejected {
    color: $rejected;
    &::after {
        background: $rejected;
        color: $text-light;
    }
}

.pending {
    color: $secondery;
    &::after {
        background: $secondery;
        color: $text-dark;
    }
}

.completed {
    color: $success-border;
    position: relative;
    &::after {
        background: $success-border;
        content: '';
    }
    &::before {
        border: solid $secondery;
        border-width: 0 0px 2px 2px;
        transform: rotate( -45deg);
        top: 9px;
        background: transparent;
        width: 10px;
        height: 5px;
        z-index: 9;
        content: '';
        display: block;
        position: absolute;
        right: -35px;
    }
}
// background
.primary-bg {
    background: $primary;
}

// Rating
.rating-given {
    fill: $secondery;
}
.rating-not-given {
    fill: $gray;
}
// focus
.focus-primary {
    &:focus {
        background: $primary;
    }
}
// cursor
.pointer {
    cursor: pointer;
}
// hover
.text-black-hover {
    transition: all .2s ease-in;
    &:hover {
        color: $text-dark;
    }
}
