
$top-nav: #0e0e30;
$white-clr:#ffffff;
$menu-active:#fcd700;
$yellow-btn-hover:#caa612;
$black-clr:#000000;
$release-bg:#1b0534;
$view-more:#675d94;
$game-name:#515151;
$game-des:#646464;
$exchange:#2e0093;
$rent-bg:#160f1d;
$exchange-bg:#e8e8e8;
$selling:#1b0534;
$search:#2d2061;
$card-1:#2d2061;
$rented-btn-bg:#1f0335;
$long-border:#0a001b;
$facebook:#4840a0;
$youtube:red;
$twitter:#179ee9;
$footer:#0b001b;
$footer-border:#0a0419;
$drp-bg:#121420;
$menu-small-bg-1:#0d05056e;
$small-border:#383838;
$rented-menu-hvr:#8c8c8c;
$item-bg:#271b5e;
$thumbnail-bg:#14002f;
$rent-btn:#ee9a00;
$exchange-hvr:#5c447d;
$description-clr:#cfced2;
$cart-badge:#30819af2;
$des-brd:#c4c0ca;
$font_family_1: 'FontAwesome';
$sign-in-form:#222f5e;
$sing-input-bg:#f6f6f6;
$forgot:#8b8c97;
$invalid:#c0392b;
$valid:#2bc039;
$slider-nav:#1e294163;
$create-ac: #0c2355;
$reg-btn:#0099e1;
$reg-btn-hover:#328ab3;
$cate-reset-btn:#336671;
$rented-label:#b9b9b9;
$rented-page-btn:#1c68c7;
$rented-page-btn-hvr:#5583bd;
$earning-brd:#a09e9ed9;
$color-2:#777;
$color-3:#666;
$log-out:#ab9f18;
$number-label:#185a9d;
$number-label-hover:#7c8b9a;
$forgot-pass:#0f5171;
$forgot-border:#ddd;
$forgot-pass:#0f5171;
$forgot-border:#ddd;
$women-gender:#ec49a6;
$man-gender:#02A3FE;
$color_1: #fff;
$font_family_1: 'Arvo', serif;
$game-card:#222f5e;
$quantity-border:#0b3159;
$background_color_1: transparent;
$summary-border:#aaa;
$delevary-collection:#c1c1c1f2;
$promo-btn:#25a5d8;
$promo-bg:#acacb3;
$checkout-cta:#4fb6cc78;
$checkout-cta-hvr:#4fb6cc;
$promo-border:#ccc;
$promo-border-hover:#999;
$cart-header:#2c2c35;
$cart-body:#020304;
$quantity-input:#29292b;
$cart-border:#545252;
$remove-btn-hvr:#D03C6E;
$summary-bg:#272525;
$login-card-bg:#171515bf;

