$primary:#0B0F18;
$text-light: #ffffff;
$secondery: #FFD715;
$game-details:#141A27;
$game-rating: #66CC33;
$text-light: #fff;
$text-dark: #000;
$gray: #808080;
$matterhorn: #505050;
$silver: #c4c4c4;
$timer:#2C3034;
$dashboard-btn:#303030;
$stroke-outline: #264171;
$game-details-heading: #E6FDFF;
$trans-nav-bg: #141a27b5;