$primary:#0B0F18;
$tournament-bg: #191919;
$text-light: #ffffff;
$secondery: #FFD715;
$secondery-opa:rgba(255, 215, 21, 0.7);
$game-details:#141A27;
$game-rating: #66CC33;
$text-light: #fff;
$text-dark: #000;
$gray: #808080;
$gray-border: #B1B2B3;
$gray-opacity: #8080802e;
$matterhorn: #505050;
$silver: #c4c4c4;
$timer:#2C3034;
$dashboard-btn:#303030;
$stroke-outline: #264171;
$game-details-heading: #E6FDFF;
$trans-nav-bg: #141a27e0;
$input-bg: #141a27;
$gamehub_danger: #F16A46;
$cart-badge: #F65157;
$transparent: transparent;
$account-not-verified: #FF8A1F;
$account-verified: $game-rating;
$photo-credit-bg: rgba(0, 0, 0, .4);
$game-rent-alert: rgba(255, 215, 21, 0.25);
$total: rgba(255, 215, 21, 0.2);
$payment-mthod: $total;
$gamehub-warning-alert: $secondery-opa;
$del-bg: #2B3448;
$del-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$toggle-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
$success-border: #28a745;
$danger-border: #dc3545;
$social-bg: #F9383D;
$rejected: #FF3030;
$screenshot-modal-bg: #000000bf;
$pricing-danger: #E3364A;
$gray-header: #c7c7c7;
$inactive-toggle: #768791;
$active-toggle-ball: #403608;
$remind-bg: #411925;
$disable-game-post: rgba(227, 54, 74, 0.25);
$disable-game-post-opa: #26141e;
$border-opacity: #857317;
$white-50: #ffffff80;
$rating-icon-bg : #CBCBCB;
$text-black : #000000;
$black-opacity : #00000080;
