// google fonts
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// bangla font
@import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/solaimanlipi/stylesheet.css');

// icon
@import url(../icons/icon.css);
@import url(../icons/demo-files/demo.css);

// bootstrap import
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
// select 2
// @import "../scss/select2/select2.min.css";
// variables
@import "../scss/variables";
//media query
@import "../scss/media-queries";
// mixin
@import "../scss/mixin";
// utility
@import "../scss/utilities";
// navbar
@import "../scss/navbar";
// slider-section
@import "../scss/slider-section";
// exchange-lend-section
@import "../scss/exchange-lend-section";
// trending-section
@import "../scss/trending-section";
// favourite-section
@import "../scss/favorite-section";
// upcoming-section
@import "../scss/upcoming-section";
// notice-section
@import "../scss/noticed-board-section";
// featured-section
@import "../scss/featured-section";
// login-section
@import "../scss/login";
// title-section
@import "../scss/title-section";
// contact-section
@import "../scss/contact-section";
// games categories-section
@import "../scss/games-categories-section";
// games details-section
@import "../scss/game-details";
// games details-menu
@import "../scss/game-details-menu";
// games screem shoot-video
@import "../scss/screenshot-video-section";
// overview
@import "../scss/overview-section";
// description
@import "../scss/description";
// related games
@import "../scss/related-game-section";
// available games
@import "../scss/game-available-section";
// support faq
@import "../scss/support-faq";
// support faq
@import "../scss/user-profile";
// set password
@import "../scss/set-password";
// noticeboard section
@import "../scss/notice-board";
// event-result section
@import "../scss/event-results";
// add cart section
@import "../scss/add-cart-section";
// newsroom section
@import "../scss/newsroom-section";
// news story section
@import "../scss/news-story-section";
// forget password section
@import "../scss/forget-password-section";
// payment section
@import "../scss/payment-section";
// my earning tab 
@import "../scss/my-earning-tab";
// about us section
@import "../scss/about-us-section";
// Gamehub Policy section
@import "../scss/gamehub-policy-section";
// Sponsors section
@import "../scss/sponsors-section";
// Rookie Elite section
@import "../scss/rookie-elite";
// Tournament
@import "../scss/tournament";
// Lend Notice
@import "../scss/lend-notice";
// Pricing Plan
@import "../scss/pricing-plan";
// refer tabs
@import "../scss/refer-tabs";
// Rating tabs
@import "../scss/rating-tabs";
// Rating list
@import "../scss/rating-list";
// Rent post details
@import "../scss/rentpost-details";
// Sell post
@import "../scss/sell-post";
// Gamebazar home
@import "../scss/gamebazar-home";
// Product-details
@import "../scss/product-details";
// Step form
@import "../scss/gamebazar-step-form";
// Product section
@import "../scss/product-section";
// Dashboard sidebar
@import "../scss/dashboard-sidebar";
// dashboard sellpost content
@import "../scss/dashboard-sellpost-content";
// dashboard my profile content
@import "../scss/my-profile";

// 404
@import "../scss/404page";
// button
@import "../scss/buttons";
// generic
@import "../scss/generic";
// back to top
@import "../scss/back-to-top";
// footer
@import "../scss/footer";


// transition mixin
@mixin transition-3 {
    transition: all 0.3s ease-in;
}

@mixin transition-5 {
    transition: all 0.5s ease-in;
}

@font-face {
    font-family: gilroy-regular;
    src: url(../fonts/gilroy-regular.ttf);
}

@font-face {
    font-family: gilroy-medium;
    src: url(../fonts/gilroy-medium.ttf);
}

@font-face {
    font-family: gilroy-bold;
    src: url(../fonts/gilroy-bold.ttf);
}

@font-face {
    font-family: "icomoon" !important;
    src: local("Icomoon"),
    url(../icons/fonts/icomoon.eot)format("embedded-opentype"),
    url(../icons/fonts/icomoon.ttf)format("truetype"),
    url(../icons/fonts/icomoon.woff) format("woff"), 
    url(../icons/fonts/icomoon.svg)format("svg");
  }
