// google fonts
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// bootstrap import
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
// variables
@import "../scss/variables";
//media query
@import "../scss/media-queries";
// utility
@import "../scss/utilities";
// mixin
@import "../scss/mixin";

// navbar
@import "../scss/navbar";
// slider-section
@import "../scss/slider-section";
// exchange-lend-section
@import "../scss/exchange-lend-section";
// trending-section
@import "../scss/trending-section";
// favourite-section
@import "../scss/favorite-section";
// upcoming-section
@import "../scss/upcoming-section";
// notice-section
@import "../scss/noticed-board-section";
// featured-section
@import "../scss/featured-section";
// login-section
@import "../scss/login";
// title-section
@import "../scss/title-section";
// contact-section
@import "../scss/contact-section";
// games categories-section
@import "../scss/games-categories-section";
// games details-section
@import "../scss/game-details";
// games details-menu
@import "../scss/game-details-menu";
// games screem shoot-video
@import "../scss/screenshot-video-section";
// overview
@import "../scss/overview-section";
// description
@import "../scss/description";
// related games
@import "../scss/related-game-section";
// available games
@import "../scss/game-available-section";
// support faq
@import "../scss/support-faq";
// support faq
@import "../scss/user-profile";
// set password
@import "../scss/set-password";
// noticeboard section
@import "../scss/notice-board";
// event-result section
@import "../scss/event-results";
// add cart section
@import "../scss/add-cart-section";
// newsroom section
@import "../scss/newsroom-section";
// news story section
@import "../scss/news-story-section";
// forget password section
@import "../scss/forget-password-section";
// payment section
@import "../scss/payment-section";
// my earning tab 
@import "../scss/my-earning-tab";

// button
@import "../scss/buttons";
// generic
@import "../scss/generic";
// back to top
@import "../scss/back-to-top";

// footer
@import "../scss/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background:$primary;
  color: $text-light;
  padding-top: 80px;
  font-family: circular-medium;
  @include for-max-991 {
    padding-top: 56px;
  }
}
h1,h2,h3,h4,h5 {
  font-family: 'Roboto Condensed', sans-serif;
}
h1 {
  font-size: 36px;
  
  @include for-min-992 {
    font-size: 72px;
  }
}
h2 {
  font-size: 28px;
  font-style: italic;
  @include for-min-992 {
    font-size: 40px;
    
  }
}
h3 {
  font-size: 22px;
  @include for-min-992 {
    font-size: 48px;
  }
}

h6 {
  font-size: 20px;
  @include for-min-992 {
    font-size: 24px;
  }
}
// transition mixin
@mixin transition-3 {
  transition: all 0.3s ease-in;
}
@mixin transition-5 {
  transition: all 0.5s ease-in;
}
// fonts
@font-face {
  font-family: circular-medium;
  src: url(../fonts/CircularStd-Medium.ttf);
}
@font-face {
  font-family: circular-bold;
  src: url(../fonts/CircularStd-Bold.ttf);
}
@font-face {
  font-family: circular-italic;
  src: url(../fonts/CircularStd-BookItalic.ttf);
}
@font-face {
  font-family: circular-book;
  src: url(../fonts/CircularStd-Book.ttf);
}
@font-face {
  font-family: circular-std;
  src: url(../fonts/Circular-Std.otf);
}


.section-heading {
  margin-bottom: 85px;
  font-size: 32px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  @include for-min-992 {
    margin-bottom: 85px;
    font-size: 40px;
  }
  @include for-max-575 {
    margin-bottom: 30px;
  }
}
